@color-body_bg: #fff;

/* Header */
@color-header-up-bg: #3b5c90;
@color-menu-bg: #3b5c90;
@color-menu-hover: #333e5d;
@color-menu-submenu-hover: #505b7c;
@color-btn-green: #15b224;
@color-toggle: #49699c;
@color-text-logo: #2c3348;

/* Fest page */
@color-fest-content-date-short: #08ae27;

@color-type-event-fest: #ff7800;
@color-type-event-konk: #00baff;
@color-type-event-mastkl: #ff0036;
@color-type-event-kanik: #0ecb20;

@color-cats-event: #7a7a7a;
@color-fest-content-short-info: #eceff1;
@color-fest-content-links: #32519b;
@color-fest-why-we-are-bg: #eceff1;

@color-why-we-are-item-title: #05a815;

@color-fest-description-tabs-a: #2c4d99;
@color-fest-reviews-head-name: #09a818;
@color-fest-reviews-head-date: #7f7e7e;

@color-header-up-partners-bg: #0ab82b;

@color-fest-description-a-go-back: #2c4d99;

@color-similar-slider-item-cont-short-info-right-more: #f7f8f9;


/* Зеленая кнопка */
@color-button-light-green: #0ecb20;
@color-button-dark-green: #0a8a16;

/* Тёмная Зеленая кнопка в поиске */
@color-button-light-green2: #0ab82b;
@color-button-dark-green2: #1e9234;

// layout rules
@tablet: 768px;
@mobile: 560px;
@supported: @mobile;

// file sources
@img-src: '/d/i/';
