#default_content{
    width: 860px;
    border: 0px solid red;
    margin: 0 0 0 0;
    background: #fff url('/d/i/bg1.png') repeat-x;
    padding: 0px 200px;
    font-size: 15px;
    line-height: 1.5em;
    
    
    h1{
        color: #000;
        text-align: center;
        border: 0px solid red;
        font-size: 36px;
        font-weight: 500;
        margin: 0 auto 30px;
        padding: 0 25px 10px 25px;
        line-height: 1.3em;
    }
    
    strong{
        font-weight: bold;
    }
    
    table{
        border-collapse: collapse;
        clear: both;
        /*
        border: 0px solid #504f4f;
        */
    }

    table tbody tr td, table tr td{
        //border: 0px solid #504f4f;
        padding: 5px;
    }

    a{
        color: #0ecb20;
        text-decoration: underline;
    }

    p{
        display: block;
        /*clear: both;*/
        //font-family: "Roboto";
        font-family: Arial;
        margin-bottom: 15px;
        letter-spacing: 0.004em;
        color: #000;
        font-size: 15px;
        a{
            color: #0ecb20;
            text-decoration: underline;
        }
    }

    ul{
        list-style-image: url('/d/i/bul.png');
        margin-left: 20px;
        padding-left: 0px;
    }

    ul.red{
        color: #f00;
    }
    
    ul.red_ul{
        list-style-image: url('/d/i/red_bul.png');
    }

    ul li{
        font-size: 14px;
        margin: 0 2px 10px 0;
        padding: 0;
        letter-spacing: 0.004em;
        font-family: "Roboto";
    }

    ol{
        margin-left: 20px;
        padding-left: 0px;
    }

    ol li{
        font-size: 14px;
        margin: 0 2px 13px 10px;
        padding: 0;
        letter-spacing: 0.031em;
        font-family: Arial;
    }
        
    .default_content_links_pdf{
        margin: 3px 0 0 6px;
        padding: 0 0 20px 0;
        border: 0px solid red;
        .default_content_links_pdf_link{
            background: url(/d/i/link_pdf.png) no-repeat;
            border: 0px solid blue;
            padding: 7px 0 0 34px;
            height: 23px;
            float: left;
            a{
                font-family: Arial;
                font-size: 16px;
                text-decoration: none;
                color: #2c4d99;
            }
            
        }
        #default_content_links_pdf_link_first{
            margin: 0 60px 0 0;
        }
    }
    .content_p_title{
        margin: 33px 0 19px 0;
        font-family: Arial;
        font-weight: 600;
        font-size: 18px;
        letter-spacing: -0.001em;
        max-width: 890px;
    }

    
    .default_content_half{
        width: 410px;
        border: 0px solid red;
        float: left;
        p.content_p_title_half{
            max-width: 400px;
            margin: 39px 0 10px 0;
            font-family: Arial;
            font-weight: 600;
            font-size: 16px;
            letter-spacing: -0.001em;
        }
        
    }
    
    .default_content_green_border_block{
        border: 2px solid #0ecb20;
        padding: 24px 30px;
        margin: 33px 0 36px 0;
        font-family: Arial;
        font-size: 14px;
        line-height: 1.5em;
        letter-spacing: 0.031em;
    }
    .content_p_green_left_border{
        border-left: 3px solid #0ecb20;
        margin: 29px 15px 40px 15px;
        padding: 0 0 0 21px;
    }
    .content_hor_line{
        width: 100%;
        border-top: 1px solid #ccc;
        margin: 50px 0 48px 0;
    }
    .content_muzklondike{
        width: 650px;
        margin: 0 auto;
        border: 0px solid red;
        text-align: center;
        .content_muzklondike_p_title{
            font-family: "Roboto";
            margin: 0px 0 32px 0;
            font-weight: 700;
            font-size: 19px;
            letter-spacing: 0.03em;
        }
        .content_muzklondike_p_links{
            border: 0px solid red;
            margin: 30px 0 0 0;
            .content_muzklondike_p_link_pdf{
                background: url(/d/i/link_pdf.png) no-repeat;
                border: 0px solid blue;
                padding: 7px 0 0 34px;
                height: 23px;
                float: left;
                a{
                    font-family: Arial;
                    font-size: 16px;
                    text-decoration: none;
                    color: #2c4d99;
                }
            }
            .content_muzklondike_p_link{
                margin: 0;
                float: right;
                padding: 7px 0 0 0px;
                height: 23px;
                a{
                    font-family: Arial;
                    font-size: 16px;
                    text-decoration: none;
                    color: #2c4d99;
                }
            }
        }
        
    }
    .content_banners{
        width: 100%;
        margin: 0 auto;
        border: 0px solid red;
        .content_banners_p_title{
            min-width: 100%;
            border: 0px solid red;
            font-family: "Roboto";
            text-align: center;
            margin: 0px 0 20px 0;
            font-weight: 700;
            font-size: 19px;
            letter-spacing: 0.03em;
        }
        table#content_banners_table{
            width: 100%;
            .table_space{
                height: 34px;
            }
            tr{
                td{
                    border: 0px solid red;
                    width: 33%;
                    text-align: center;
                    .link_copy_to_clipboard_baner{
                        display: inline;
                        color: #2c4d99;
                        font-size: 13px;
                        border-bottom: 1px dotted #2c4d99;
                        cursor: pointer;
                    }
                }
                .baners_table_img{
                    height: 142px;
                    vertical-align: middle;
                }
                .baners_table_img2{
                    height: 100px;
                    vertical-align: middle;
                }
            }
        }
        
    }

    .default_content_baner{
        position: relative;
        width: 970px;
        height: 100px;
        margin: 0 auto;
    }

    .subscribe2{
        border-top: 1px solid #e2e2e2;
        padding: 40px 0 80px 0;
        font-size: 19px;
        font-weight: bold;
        .in{
            margin: 23px 0 0 0;
            background: #0bb82b;
            border-radius: 2px;
            padding: 0 0 0 3px;
            height: 43px;
            box-sizing: border-box;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            align-items: center;
            input{
                height: 37px;
                width: 710px;
                font-size: 18px;
                border: none;
                padding: 0 0 0 13px;
            }
            button{
                background: #0bb82b;
                border: none;
                width: 132px;
                height: 37px;
                color: #fff;
                font-size: 17px;
                cursor: pointer;
            }
        }
    }
}

/* Сотрудники */

.table_sotrudniki{
    width: 860px;
    tbody{
        tr{
            td{
                vertical-align: top;
                border-bottom: 1px solid #bababa;
                padding: 30px 0 36px 0 !important ;
            }
            td.photo{
                width: 200px;
            }
            td.description{
                padding-left: 30px !important;
                .connect{
                    height: 26px;
                    padding: 0 0 7px 0;
                    img{
                        margin: 0 3px 0 0;
                        position: relative;
                        top: 7px;
                    }
                }
            }
        }
    }
}

#table_zhuri{
    width: 860px;
    tbody{
        tr{
            td{
                vertical-align: top;
                border-bottom: 1px solid #bababa;
                padding: 30px 0 36px 0 !important ;
            }
            td.photo{
                width: 200px;
                text-align: center;
            }
            td.description{
                padding-left: 30px !important;
                .connect{
                    height: 26px;
                    padding: 0 0 7px 0;
                    img{
                        margin: 0 3px 0 0;
                        position: relative;
                        top: 7px;
                    }
                }
            }
        }
        tr.last_row{
            td{
                border-bottom: none;
            }
        }
    }
}

#table_smionas{
    width: 860px;
    tbody{
        tr:nth-child(2n){
            td:first-child{
                width: 250px;
                //border: 1px solid red;
            }
            td{
                border-bottom: 1px solid #bababa;
            }
        }

        tr:nth-last-child(1){
            td{
                border-bottom: none;
            }
        }
        
        tr{
            td{
                vertical-align: top;
                padding: 30px 0 6px 0 !important ;
            }
            td.photo{
                width: 200px;
                text-align: center;
            }
            td.description{
                padding-left: 30px !important;
                .connect{
                    height: 26px;
                    padding: 0 0 7px 0;
                    img{
                        margin: 0 3px 0 0;
                        position: relative;
                        top: 7px;
                    }
                }
            }
        }
    }
}

#useful_info{
    width: 860px;
    tbody{
        tr:nth-child(2n){
            td:first-child{
                width: 250px;
                //border: 1px solid red;
            }
            td{
                border-bottom: 1px solid #bababa;
            }
        }

        tr:nth-last-child(1){
            td{
                border-bottom: none;
            }
        }
        
        tr{
            td{
                vertical-align: top;
                padding: 15px 0 25px 0 !important ;
            }
            td.photo{
                width: 200px;
                text-align: center;
            }
            td.description{
                padding-left: 30px !important;
                .connect{
                    height: 26px;
                    padding: 0 0 7px 0;
                    img{
                        margin: 0 3px 0 0;
                        position: relative;
                        top: 7px;
                    }
                }
            }
        }
    }
}



a.a_blue{
    color: #24438c !important;
}

h1.default_content_title{
    color: #000;
    text-align: center;
    border: 0px solid red;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 500;
    letter-spacing: .22em;
    margin: 0 auto 30px;
    padding: 0 25px 10px 25px;
    line-height: 1.3em;
}

h1.default_content_title_news{
    font-size: 24px !important;
    font-weight: 300;
    margin: 0 auto 30px;
    padding: 0 25px 10px 25px;
    line-height: 1.1em;
}

h2.default_content_title_h2{
    color: #000;
    text-align: center;
    border: 0px solid red;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .15em;
    margin: -35px auto 30px;
    padding: 0 25px 10px 25px;
    line-height: 1.3em;
}

#form_consultation, #form_visa, #form_strah, #form_docs{
    table{
        tr{
            td{
                .textbox{
                    width: 400px;
                }
                .textarea{
                    width: 400px;
                }
                a#dfghdrt{
                    text-decoration: none;
                }
            }
        }
    }
}


.button_green_mini{
    cursor: pointer;
    display: block;
    float: left;
    border-radius: 3px;
    text-decoration: none  !important;
    color: #fff;
    padding: 0px 0px 3px 0px;
    margin: 0px 0 0 0;
    font-size: 15px;
    font-weight: 200;
    letter-spacing: 0.035em;
    background-color: @color-button-dark-green;
    div{
        color: #fff;
        border-radius: 3px;
        padding: 5px 11px 7px 11px;
        background-color: @color-button-light-green;
    }
    &:hover{
        background-color: #fff;
        padding: 3px 0px 0px 0px;
    }
}


.ask dt, .ask dt .q, .ask dt .q:link,.ask dt .q:visited,.ask dt .q:hover,.ask dt .q:active {
font-weight:400;
font-style:normal;
text-decoration:none;
text-align:left;
margin:3px 0 0;
font-size:16px;
padding:2px 20px 4px 3px;
color:#1c3475;
}
.ask dt .q .t, .ask dt .q .t:link,.ask dt .q .t:visited,.ask dt .q .t:hover,.ask dt .q .t:active {
color:#000;
}
.ask dt {
cursor:pointer;
}
.ask dt.ufaq {
background:#fff;
text-decoration:underline;
cursor:pointer;
}
.ask dd.ufaq {
background:#dee1e6;
padding-bottom:0;
}
.ask dt span, .ask dt .q, .ask dt .q:link,.ask dt .q:visited,.ask dt .q:hover,.ask dt .q:active {
padding-left:19px;
display:block;
}
.ask dt span.l {
padding-left:0;
display:inline;
}
.askname {
font-style:normal;
font-weight:700;
}
.asknum:link,.asknum:visited,.asknum:hover,.asknum:active {
font-style:normal;
padding-bottom:5px;
font-family:'Trebuchet MS', Helvetica, sans-serif;
font-weight:bold;
text-decoration:none;
display:block;
width:100%;
}

.ask dd{
    text-align:left;
    padding:5px 20px 10px 10px;

    position: absolute;
    visibility: hidden;
    display: none;
    width: 800px;
    background-color: #f1f1f1;
    margin: 4px 12px 4px 12px;
}