@font-face {
    font-family: MyriadPro;
    src: local("MyriadPro"),
    url(/d/fonts/myriad-pro.otf);
}
  
#fest_order_title_out_line{
    position: relative;
    margin: 60px 0 0 0;
    padding: 0 0 60px 0;
    border: 0px solid red;
    div{
        float: left;
    }
    .fest_order_title_line{
        border-bottom: 1px solid #000;
        width: 23%;
    }

    #fest_order_title{
        width: 54%;
        color: #000;
        border: 0px solid red;
        text-align: center;
        display: inline;
        font-size: 36px;
        font-weight: 500;
        letter-spacing: .22em;
        position: relative;
        margin: -27px auto;
        padding: 0 0 10px 0;
    }
}

#fest_order_content{
    width: 890px;
    margin: 0 auto;
    border: 0px solid #ccc;
    #fest_order_content_name{
        font-size: 26px;
        font-weight: 600;
        letter-spacing: -0.022em;
        margin: 0 0 41px 0;
		a {
			color:#000;
		}
    }
    .fest_order_content_item{
        width: 647px;
        margin: 0 0 23px 0;
        clear: both;
        border: 0px solid red;
        .fest_order_content_item_title{
            border: 0px solid red;
            font-size: 15px;
            font-family: Arial;
            letter-spacing: 0.05;
            margin: 0 0 8px 0;
            //height: 26px;
            div{
                float: left;
                font-size: 15px;
                font-family: Arial;
                letter-spacing: 0.05;
            }
            .fest_order_content_item_title_all{
                font-weight: 500;
                font-size: 15px;
            }
            .fest_order_content_item_title_count_members{
                margin: 0 0 0 10px;
            }
            
            .fest_order_content_item_title_all_price_val{
                border: 1px solid red;
            }
            
            .fest_order_content_item_title_all_price_val{
                position: relative;
                border: 0px solid red;
                margin: 5px 0 5px 0px;
                b{
                    span{
                        border: 0px solid red;
                        margin: 0 5px 0 0;
                    }
                }
            }
            
            
            .fest_order_content_item_title_comment{
                display: block;
                float: left;
                font-size: 12px;
                font-family: Arial;
                color: #737373;
                letter-spacing: 0.05;
                margin: 3px 0 12px 20px;
            }
            a{
                text-decoration: none;
                color: #2c4d99;
            }
        }
        
        .fest_order_content_item_title_right{
            float: right;
            font-family: Tahoma;
            font-size: 13px;
            font-weight: 100;
            color: #95a1ac;
            a{
                color: #2c4d99;
                font-family: Arial;
                letter-spacing: -0.04;
                border-bottom: 1px dotted #2c4d99;
                text-decoration: none;
            }
        }
        
        .fest_order_content_item_field_input_text{
            border-radius: 3px;
            border: 1px solid #b3bbc3;
            input{
                border: none;
                height: 30px;
                margin: 0 5px;
                color: #555;
            }
        }
        .input_name_block, .input_adress_block{
            width: 100%;
            input{
                width: 99%;
            }
        }
        .input_age_block{
            float: left;
            margin: 0 18px 0 0;
            width: 49px;
            input{
                width: 70%;
            }
        }
        
        .members_block_field{
            border: 0px solid red;
            margin: 7px 10px 0 0;
            float: left;
        }

        .input_members_block{
            margin: 0 18px 0 0;
            float: left;
            width: 50px;
            input{
                width: 70%;
            }
        }
        
        .input_nomination_block{
            float: left;
            margin: 0 18px 0 0;
            width: 100%;
            input{
                width: 98%;
            }
        }
        
        .input_email_block{
            width: 300px;
            input{
                width: 97%;
            }
        }
        .input_rukovod_block{
            width: 476px;
            input{
                width: 98%;
            }
        }

        .fest_order_content_item_field_input_radio{
            padding: 7px 0;
            border: 0px solid red;
        }
        .input_director_sponsor_block{
            width: 476px;
        }
        .fest_order_content_item_field_textarea{
            border-radius: 3px;
            border: 1px solid #b3bbc3;
            height: 120px;
            textarea{
                border: none;
                width: 98%;
                height: 110px;
                margin: 0 5px;
                color: #555;
                resize: none;
            }
        }
        .input_questions_block{
            height: 137px;
            textarea{
                border: none;
                width: 98%;
                height: 130px;
                margin: 0 5px;
                color: #555;
                resize: none;
            }
        }
        
        span.block{
            display: block;
            float: left;
            font-size: 14px;
            font-family: Arial;
            letter-spacing: 0.05;
            margin: 8px 12px 0 0;
        }
        
        .fest_order_content_item_field_checkbox_checkbox{
            
            font-size: 14px;
            letter-spacing: -0.01em;
            
            input[type="checkbox"] {
                display:none;
            }
            
            label{
                margin-right: 0px;
                font-size: 15px;
                letter-spacing: -0.01em;
                cursor: pointer;
            }
            
            span.block2{
                display: block;
                height: 28px;
            }
            
            input[type="checkbox"] + label span {
                display:inline-block;
                width:18px;
                
                margin:0px 5px 0 0;
                vertical-align:middle;
                background:url(/d/i/check_radio_sheet.png) left top no-repeat;
                cursor:pointer;
            }
            input[type="checkbox"] + label i {
                font-style: normal;
                text-transform: lowercase;
            }
            
            input[type="checkbox"]:checked + label span {
                background:url(/d/i/check_radio_sheet.png) -18px top no-repeat;
                
            }
        }
    }
    
    
    
    .accept{
        width: 80%;
        border: 0px solid blue;
    }
    .warning{
        width: 93%;
        border: 2px solid #0ecb20;
        padding: 22px 28px 22px 28px;
        margin: -15px 0 40px 0;
        font-size: 14px;
        font-family: Arial;
        letter-spacing: 0.1;
        line-height: 1.5em;
    }
    .fest_order_content_contacts_block{
        float: left;
        width: 850px;
        border: 0px solid red;
        margin: 0 0 14px 0;

        .fest_order_content_item_mini{
            margin: 0 0 23px 0;
            float: left;

            .fest_order_content_item_title{
                font-size: 15px;
                font-family: Arial;
                letter-spacing: 0.05;
                margin: 0 0 12px 0;
            }

            .fest_order_content_item_field_input_text{
                border-radius: 3px;
                border: 1px solid #b3bbc3;

                input{
                    border: none;
                    height: 30px;
                    margin: 0 5px;
                    color: #555;
                }
            }
            
            .input_contact_name_block{
                width: 100%;
                margin-bottom: 10px;

                input{
                    width: 97%;
                }
            }

            .input_contact_phone_block{
                width: 100%;
                margin-bottom: 10px;
                input{
                    width: 95%;
                }
            }

            .input_contact_viber_block {
                border: none;
                width: 40px;
                margin-bottom: 10px;
                input{
                    width: 95%;
                }
            }
        }

        .contact_name{
            border: 0px solid red;
            width: 300px;
            margin: 0 18px 0 0;
        }

        .contact_phone{
            border: 0px solid red;
            width: 155px;
            margin: 0 18px 0 0;
        }

        .contact_viber {
            border: 0px solid red;
            width: 50px;
            margin: 0 18px 0 0;
        }
    }
    .fest_order_content_contacts_block_add{
        float: left;
        margin: 40px 0 0 2px;
        color: #2c4d99;
        font-family: Arial;
        font-size: 12px;
        border-bottom: 1px dotted #2c4d99;
        cursor: pointer;
    }
    .fest_order_content_horizontal_line,
    .fest_order_content_horizontal_line2{
        width: 100%;
        border-top: 1px solid #eaeaea;
        
    }
    
    .fest_order_content_horizontal_line{
        margin: 52px 0 45px 0;
    }
    .fest_order_content_horizontal_line2{
        margin: 48px 0 40px 0;
    }
    
    .fest_order_content_item_mini{
        margin: 0 0 23px 0;
        float: left;
        .fest_order_content_item_title{
            font-size: 15px;
            font-family: Arial;
            letter-spacing: 0.05;
            margin: 0 0 12px 0;
        }
        .fest_order_content_item_field_input_text{
            border-radius: 3px;
            border: 1px solid #b3bbc3;
            input{
                border: none;
                height: 30px;
                margin: 0 5px;
                color: #555;
            }
        }
        .input_count_members_block{
            float: left;
            width: 66px;
            margin-bottom: 10px;
            input{
                width: 56px;
            }
        }
        
        .count_is_not_digit{
            color: #f00;
            font-size: 13px;
            display: block;
            float: left;
            text-align: center;
            margin: 0 0 0 10px;
        }
        
    }
    .count_members{
        display: none;
        margin: 0 54px 0 0;
    }
    
    
    #price_block{
        #price_table{
            border-collapse: collapse;
            td{
                border: 1px solid #ccc;
                padding: 10px 15px;
            }
        }
    }
}

.nohidden{
    display: block;
}

.hidden{
    display: none;
}



#popup_order_error{
    .popup_window_inner{
        .popup_window_inner_field{
            .popup_window_inner_field_inputtext{
                #popup_rec_email{
                    width: 320px;
                }
                #popup_rec_submit{
                    position: relative;
                    margin: 0px 0 0 -1px;
                    float: right;
                }
            }
        }
        #popup_order_error_text_block{
            ul{
                li{
                    line-height: 150%;
                }
            }
        }
    }
    width: 420px;
}










#personal_data_link{
    border-bottom: 1px dotted #ccc;
    font-weight: bold;
    cursor: default;
    display: inline-block;
}

#personal_data_content{
    display: none;
    border: 1px solid #ccc;
    padding: 5px 10px;
    width: 300px;
    background: #fff;
    -webkit-box-shadow: 0px 1px 7px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 1px 7px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 1px 7px 0px rgba(50, 50, 50, 0.75);
    font-size: 14px;
    line-height: 1.1em;
}