#links_selections{
    float: left;
    text-align: left;
    border: 0px solid red;
    padding: 0 0 0 50px;
    a{
        color: #2A4A94;
        text-decoration: none;
        border-bottom: 1px dotted #2A4A94;
    }
}

#list_fest{
    position: relative;
    background: #fff;
    float: right;
    margin: 0 50px 0 0;
}


#list_fest_header{
    position: relative;
    background: #fff;
    float: right;
    margin: 0 56px 30px 0;
    border: 0px solid red;
    font-size: 24px;
    display: none;
    .list_fest_header_title{
        font-size: 24px;
        font-weight: 600;
        letter-spacing: 0.015em;
        color: #000;
        margin: 0 0 10px -88px;
        text-align: center;
    }
    .list_fest_header_count{
        float: left;
        margin: 0 22px 0 0;
        font-size: 18px;
        font-weight: 200;
        color: #848484;
    }
    .list_map_switch{
        float: right;
        color: #3a87c2;
        font-size: 18px;
        cursor: pointer;
        text-decoration: underline;
        #list{
            display: none;
            img{
                display: inline-block;
                vertical-align: middle;
                margin: -2px 0 0 7px;
            }
        }
        #map{
            img{
                display: inline-block;
                vertical-align: middle;
                margin: 0 0 0 7px;
            }
        }
        
    }
}

.list_fest_header_mini{
    width: 836px;    
}

.list_fest_header_normal{
    width: 1130px;
    .list_fest_header_title{
        margin: 0 0 10px 0px !important;
    }
    .list_fest_header_count{
        margin: 0 22px 0 -41px !important;
    }
}

.list_fest_mini{
    width: 836px;
    min-height: 840px;
    .fest_list_item_mini{
        .fest_info{
            width: 624px;
            .fest_list_item_content_name{
                width: 520px;
            }

            .fest_list_item_content_name_normal{
                display: none;
            }

            .fest_list_item_content_categories{
                //max-width: 300px;
            }
        }
    }
}

.list_fest_normal{
    width: 1135px;
    .fest_list_item_mini{
        .fest_info{
            width: 918px;
            .fest_list_item_content_name_normal{
                width: 831px;
            }
            .fest_list_item_content_name{
                display: none;
            }

            .fest_list_item_content_categories{
                max-width: 600px;
            }
        }
    }
}

.fest_list_item_mini{
    //min-height: 200px;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #cfcfcf;
    margin: 0 0 15px 0;
    .img_link_to_fest{
        img{
            max-width:194px;
            max-height:164px;
        }
    }
    .fest_info{
        position: relative;
        float: right;
        width: 624px;
        min-height: 164px;
        border: 0px solid red;
        .fest_list_item_content_manager{
            float: right;
            position: absolute;
            height: 64px;
            width: 64px;
            border: 6px solid #dce2e6;
            border-radius: 100%;
            top: -6px;
            right: 0px;
            
            a{
                display: block;
                position: relative;
                border: 0px solid red;
                height: 64px;
                width: 50px;
                border-radius: 100%;
            }
        }
        
        .fest_list_item_content_manager_hidden{display: none}

        .fest_list_item_content_name, .fest_list_item_content_name_normal{
            position: relative;
            margin: -5px 0 5px 0;
            border: 0px solid red;
            max-height: 60px;
            a{
                font-family: "Roboto";
                font-size: 17px;
                line-height: 1.5em;
                font-weight: 600;
                letter-spacing: -0.04em;
                color: #000;
                text-decoration: none;
            }
            .fav_btn{
                /*
                display: block;
                position: absolute;
                top: 0;
                right: -5px;
                */

                /*
                display: inline-block;
                */
                vertical-align: middle;
                margin: 0 2px 6px 5px;
                cursor: pointer;
            }
            .cup_img{
                height: 20px;
                vertical-align: middle;
                margin: 0 2px 6px 5px;
            }
        }
        

        

        .fest_list_item_content_locations{
            font-size: 14px;
            .fest_list_item_content_locations_town{
                font-size: 14px;
            }
            .fest_list_item_content_locations_icon{
                position: relative;
                top: 4px;
                margin: 0 8px 0 4px;
            }
        }

        .fest_list_item_content_categories{
            color: #838282;
            font-size: 14px;
            font-weight: 400;
            margin: 6px 0 0 0;
            letter-spacing: 0.03em;
            font-style: italic;
            line-height: 1.7;
            a{
                font-family: Calibri !important;
            }
        }

        .fest_list_item_content_dates_price{
            margin: 0;
            position: absolute;
            bottom: 0;
            font-size: 15px;
            span{
                font-weight: bold;
                display: inline-block;
                margin: 0 0 0 15px;
            }
        }

        .fest_list_item_content_buttons{
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
}

.fest_list_item_mini:last-child{
    border-bottom: none;
}
























.old_event{
    opacity: .4;
}

/* Страница фестиваля */

#gallery_fest{
    border: 0px solid red;
    a{
        display: block;
        float: left;
        width: 210px; height: 210px;
        margin: 0 12px 12px 0;
    }
    a#link_parents_photos{
        display: block;
        float: left;
        width: auto;
        height: auto;
    }
    #parent_photos{
        display: none;
    }
}

#result_search_head{
    margin: 0 0 0 34px;
    font-weight: bold;
}