@import (reference) "_vars";
@color-forms-search-header-bg: #c5e8cd;

@legacy-container-height: 731px;
@legacy-wrapper-height: 737px;

.toggle {
  margin:0 auto;
  height:40px;
  width:85px;
}

#main_page_form_search_header_up{
    position: relative;
    z-index: 50;
    border: 0px solid blue;
    background: #f4f6f7;
    height: 100px;

    @media (max-width: @tablet) {
      height: auto;
    }

    #main_page_form_search_header_bg{
        position: absolute;
        left:50%;
        margin: -150px 0 0 -116px;
        width: 232px;
        height: 240px;
        background-color: @color-forms-search-header-bg;

        border-radius:100%;

        clip: rect(150px, 232px, 240px, 0);
        z-index: 50;

        @media (max-width: @tablet) {
          display: none;
        }
    }

    #main_page_form_search_header_title{
        position: relative;
        //cursor: pointer;
        left:50%;
        width: 610px;
        color: #000;
        border: 0px solid red;
        text-align: center;
        font-size: 36px;
        font-weight: 500;
        letter-spacing: .22em;
        margin: 0px 0 0 -298px;
        padding: 40px 0 10px 0;
        z-index: 51;

        @media (max-width: @tablet) {
          font-size: 25px;
        }

        @media (max-width: @mobile) {
          width: 100%;
          margin: 0;
          position: static;
        }
    }
}

#form_search{
    display: none;
    position: relative;
    border: 0px solid red;
    background-color: #f4f6f7;
    overflow: hidden;
    padding-bottom: 0px;
    //height: 900px;
    height: @legacy-container-height;

    @media (max-width: @mobile) {
      height: 1000px;
    }

    #form_search_close{
        position: absolute;
        top: 20px;
        right: 20px;
        width: 21px;
        height: 21px;
        cursor: pointer;
        z-index: 51;
        background: url('@{img-src}popup_close2.png');
    }
    #form_search_header{
        position: relative;
        //height: 143px;
        height: 0;
        #form_search_header_bg{
            position: absolute;
            left:50%;
            margin: -150px 0 0 -116px;
            width: 232px;
            height: 240px;
            background-color: @color-forms-search-header-bg;

            border-radius:100%;

            clip: rect(150px, 232px, 240px, 0);
            z-index: 50;
        }
        #form_search_header_breadcrumbs{
            position: relative;
            width: 100%;
            float: left;
            top: 34px;
            text-align: center;
            color: #4e4e4e;
            font-size: 12px;
            letter-spacing: .045em;
            a{
                color: #4e4e4e;
                text-decoration: none;
            }
            z-index: 51;
        }

        .form_search_header_title_on_main{
            margin: 40px 0 0 -298px;
        }
        .form_search_header_title{
            margin: 110px 0 0 -298px;
        }

        #form_search_header_title{
            position: absolute;
            //cursor: pointer;
            left:50%;
            width: 610px;
            color: #000;
            border: 0px solid red;
            text-align: center;
            font-size: 36px;
            font-weight: 500;
            letter-spacing: .22em;
            padding: 0 0 0 0;
            z-index: 51;
            .form_search_header_title_bul{
                visibility: hidden;
                position: absolute;
                cursor: pointer;
                right: -20px;
                top: 20px;
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-top: 10px solid #08ae27;

                -moz-transform: rotate(0deg);
                -webkit-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                transform: rotate(0deg);

                -moz-transition: all .4s;
                -webkit-transition: all .4s;
                -o-transition: all .4s;
                transition: all .4s;
            }
            .form_search_header_title_bul_hidden{
                visibility: hidden;
                position: absolute;
                cursor: pointer;
                right: -20px;
                top: 20px;
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-top: 10px solid #08ae27;


                -moz-transform: rotate(-90deg);
                -webkit-transform: rotate(-90deg);
                -o-transform: rotate(-90deg);
                -ms-transform: rotate(-90deg);
                transform: rotate(-90deg);
                transition-duration:.4s;
            }
        }

    }
    .form_search_content{
        border: 0px solid green;
        position: relative;
        height: 730px;

        @media (max-width: @mobile) {
          height: inherit;
        }

        #form_search_header_switch_form_map{
            display: none;
            position: relative;
            margin: 0 auto;
            width: 280px;
            border: 0px solid red;

            .form_search_header_switch_form_map_text{
                float: left;
                height: 28px;
                padding: 5px 0 0 0;
                text-transform: uppercase;
                font-size: 22px;
                font-weight: 500;
                color: #000;
                transition-duration: .4s;
            }
            .form_search_header_switch_form_map_text_passive{
                color: #b3b3b3;
                transition-duration: .4s;
            }

            #form_search_header_switch_form_map_switch{
                cursor: pointer;
                position: relative;
                float: left;
                margin: 0 24px 0 18px;
                background: url(/d/i/form_search_switch_bg.png);
                width: 85px;
                height: 40px;
                #form_search_header_switch_form_map_switch_circle{
                    position: absolute;
                    border: 0px solid red;
                    width: 40px;
                    height: 40px;
                    background: #2258ae;
                    -moz-border-radius: 50px;
                    -webkit-border-radius: 50px;
                    border-radius: 50px;
                }
                .form_search_header_switch_form_map_switch_circle_left{
                    top: 0; left: 0;
                    -moz-transition: all .4s;
                    -webkit-transition: all .4s;
                    -o-transition: all .4s;
                    transition: all .4s;
                }
                .form_search_header_switch_form_map_switch_circle_right{
                    top: 0; left: 45px;
                    transition-duration:.4s;
                }
            }

        }
        .form_search_content_type{
            width: 100%;
            border: 0px solid red;
            position: absolute;
            height: @legacy-wrapper-height;
            margin: 0;
            padding: 0 0 0 0;
            overflow: hidden;

            @media (max-width: @mobile) {
              height: 1000px;
              overflow: visible;
            }

            .form_search_content_type_content{
                border: 0px solid red;
                position: absolute;
                width: 100%;
                padding: 20px 0 0 0;

                @media (max-width: @tablet) {
                  width: 94%;
                  margin: 0 3% 40px;
                }

                @media (max-width: @mobile) {
                  width: 72%;
                  margin: 0 14% 40px;
                }

                .form_search_content_item_country_town{
                    position: relative;
                    width: 560px;
                    margin: 0 0 10px 179px;
                    border: 0px solid red;
                    .form_search_content_item_title{
                        text-transform: uppercase;
                        font-size: 16px;
                        font-weight: 600;
                        letter-spacing: 0.05em;
                        color: #000;
                        margin: 0 0 13px 0;
                    }
                    .form_search_content_item_content{
                        width: 560px;
                    }
                    #searchforMapSubmit{
                        background: url(/d/i/search.png) 6px 6px no-repeat;
                        position: absolute;
                        cursor: pointer;
                        top: 0px; left: 524px;
                        height: 28px;
                        width: 28px;
                        opacity: 0.5;
                        z-index: 100;
                        &:hover{
                            opacity: 1;
                        }
                    }
                }

                .form_search_content_item{
                    position: relative;
                    width: 900px;
                    margin: 0 0 40px 179px;
                    border: 0px solid red;

                    @media (max-width: @tablet) {
                      width: 100%;
                      margin: 0 0 40px;
                    }

                    .form_search_content_item_title{
                        text-transform: uppercase;
                        font-size: 16px;
                        font-weight: 600;
                        letter-spacing: 0.05em;
                        color: #000;
                        margin: 0 0 13px 0;
                    }

                    .form_search_content_item_content{
                        #form_search_field_name{
                            width: 100%;
                            padding: 0 0 0 4px;
                            height: 32px;
                            border: 1px solid #b3bbc3;
                            border-radius: 3px;
                            background: #fafbfb;
                            font-size: 14px;
                            color: #444;
                        }
                        .form_search_content_item_content_field_checkbox_block{
                            border: 0px solid red;
                            margin-left: -38px;

                            @media (max-width: @tablet) {
                              margin-left: 0;
                            }

                            input[type="checkbox"] {
                                display:none;
                            }

                            label{
                                margin-left: 42px;
                                font-size: 14px;
                                letter-spacing: -0.01em;
                                position: relative;

                                @media (max-width: @tablet) {
                                  margin-left: 0;
                                  display: inline-block;
                                  margin-bottom: 20px;
                                }

                                .chbox_over{


                                    visibility:hidden;
                                    position: absolute;
                                    top: 45px;
                                    border: 0px solid red;
                                    opacity: 0;
                                    /*
                                    -moz-transition: all .2s;
                                    -webkit-transition: all .2s;
                                    -o-transition: all .2s;
                                    transition: all .2s;
                                    */

                                    .chbox_over_niz, .chbox_over_verh{
                                        position: absolute;
                                        background: #fff;
                                        left: 25px; top: 20px;
                                        width: 20px; height: 20px;
                                        transform: rotate(45deg);
                                        -webkit-transform: rotate(45deg);
                                    }
                                    .chbox_over_niz{
                                        box-shadow: 0 0 7px #b2b2b2;
                                        z-index: 10000;
                                    }
                                    .chbox_over_verh{
                                        z-index: 10002;
                                    }

                                    .chbox_over_content {
                                        border: 1px solid #e9e9e9;
                                        border-radius: 4px;
                                        width: 210px;
                                        padding: 20px;
                                        position: absolute;
                                        top: 26px;
                                        left: -100px;
                                        z-index:10001;
                                        background: #fff;
                                        color: #000;
                                        box-shadow: 0 0 7px #b2b2b2; /* Добавляем тень для блока */
                                         .event-manager{
                                            padding: 7px 0 0 0;
                                            float: left;
                                            color: #888d9c;
                                        }
                                    }
                                }
                            }

                            label:hover > .chbox_over{
                                opacity:1;
                                top: 55px;
                                visibility:visible;
                                //transition-duration:.2s;
                            }



                            input[type="checkbox"] + label span {
                                display:inline-block;
                                width:18px;
                                height:18px;
                                margin:-1px 4px 0 0;
                                vertical-align:middle;
                                background:url(/d/i/check_radio_sheet.png) left top no-repeat;
                                cursor:pointer;
                            }
                            input[type="checkbox"]:checked + label span {
                                background:url(/d/i/check_radio_sheet.png) -18px top no-repeat;
                            }
                        }
                        .form_search_content_item_content_field_radio_block{
                            input[type="radio"] {
                                display:none;
                            }

                            input[type="radio"] + label span {
                                display:inline-block;
                                width:18px;
                                height:18px;
                                margin:-1px 10px 0 0;
                                vertical-align:middle;
                                background:url(/d/i/check_radio_sheet.png) -36px top no-repeat;
                                cursor:pointer;
                            }
                            input[type="radio"]:checked + label span {
                                background:url(/d/i/check_radio_sheet.png) -54px top no-repeat;
                            }
                            div{
                                float: left;
                                margin-right: 32px;
                                font-family: Arial;
                                font-size: 14px;
                            }
                        }
                    }
                }
                .form_search_content_item_country_city{
                    border: 0px solid red;
                    float: left;
                    width: 433px;

                    @media (max-width: @tablet) {
                      width: 100%;
                      display: flex;
                      flex-direction: row-reverse;
                    }

                    @media (max-width: @mobile) {
                      flex-direction: column-reverse;
                    }

                    .form_search_content_item_country{

                        position: relative;
                        width: 254px;
                        margin: 0 0 20px 179px;
                        border: 0px solid red;

                        @media (max-width: @tablet) {
                          width: 50%;
                        }

                        @media (max-width: @mobile) {
                          width: 100%;
                          margin: 0;
                          position: static;
                        }

                        .form_search_content_item_title{
                            text-transform: uppercase;
                            font-size: 16px;
                            font-weight: 600;
                            letter-spacing: 0.05em;
                            color: #000;
                            margin: 0 0 13px 0;
                        }

                        .form_search_content_item_content{
                            width: 254px;

                            @media (max-width: @mobile) {
                              width: auto;
                            }
                        }

                        .form_search_content_item_country_quick{
                            @media (max-width: @tablet) {
                              margin-top: 18px;
                            }
                            a{
                                cursor: pointer;
                                text-decoration: underline;
                                font-size: 14px;
                                color: #727ea4;
                                margin: 0 5px 0 0;
                            }
                        }
                    }

                    .form_search_content_item_city{
                        position: relative;
                        width: 254px;
                        margin: 0 0 40px 179px;
                        border: 0px solid red;

                        @media (max-width: @tablet) {
                          margin-left: 0;
                        }

                        @media (max-width: @mobile) {
                          width: 100%;
                          margin: 0;
                          position: static;
                        }

                        .form_search_content_item_title{
                            text-transform: uppercase;
                            font-size: 16px;
                            font-weight: 600;
                            letter-spacing: 0.05em;
                            color: #000;
                            margin: 0 0 13px 0;
                            @media (max-width: @tablet) {
                              float: none;
                            }
                        }
                        .form_search_content_item_content{
                            width: 254px;

                            @media (max-width: @mobile) {
                              width: 100%;
                            }
                        }


                        // Заочный

                        input[type="checkbox"] {
                            display:none;
                        }

                        input[type="checkbox"] + label {
                            font-size: 14px;
                            letter-spacing: -0.01em;
                        }

                        input[type="checkbox"] + label span {
                            display:inline-block;
                            width:18px;
                            height:18px;
                            margin:-1px 4px 0 0;
                            vertical-align:middle;
                            background:url(/d/i/check_radio_sheet.png) left top no-repeat;
                            cursor:pointer;
                        }
                        input[type="checkbox"]:checked + label span {
                            background:url(/d/i/check_radio_sheet.png) -18px top no-repeat;
                        }


                    }

                }

                .form_search_content_item_calend{
                    position: relative;
                    float: left;
                    width: 633px;
                    margin: -7px 0 40px 16px;
                    border: 0px solid red;

                    @media (max-width: @tablet) {
                      margin: 0 0 40px;
                      width: 100%;
                    }

                    .form_search_content_item_title{
                        border: 0px solid blue;
                        float: left;
                        height: 20px;
                        text-transform: uppercase;
                        font-size: 16px;
                        font-weight: 600;
                        letter-spacing: 0.05em;
                        color: #000;
                        margin: 7px 0 13px 0;

                        @media (max-width: @tablet) {
                          float: none;
                        }
                    }
                    .form_search_content_item_content{
                        float: left;
                        width: 230px;
                        border: 0px solid #b3bbc3;
                        height: 28px;
                        padding: 5px 0 0 10px;
                        margin-top: -2px;

                        @media (max-width: @tablet) {
                          width: 100%;
                        }
                        @media (max-width: @mobile) {
                          box-sizing: border-box;
                        }

                        &-grow {
                          @media (max-width: @mobile) {
                            display: flex;
                            align-items: baseline;

                          }
                          & > * {
                            flex-grow: 2;
                          }
                        }

                        #date1, #date2{
                            border: 1px solid #b3bbc3;
                            border-radius: 3px;
                            height: 25px;
                            padding: 0px 0 0 5px;
                            width: 80px;

                            @media (max-width: @tablet) {
                              padding: 10px 20px;
                            }
                        }

                        #date1 {
                          @media (max-width: @mobile) {
                            margin: 0 10px;
                          }
                        }
                        #date2 {
                          @media (max-width: @mobile) {
                            margin-left: 10px;
                          }
                        }

                        #calendar_range_input{
                            position: relative;
                            top: -23px;
                            width: 272px;
                            cursor: pointer;
                            background: none;
                            border: 0px solid blue;
                        }
                        #calendar_range_input2{
                            width: 272px;
                            cursor: pointer;
                            background: none;
                            border: 0px solid red;
                        }
                    }
                    .form_search_content_item_calend_quick{
                        float: right;
                        margin: 5px 0 0 15px;

                        @media (max-width: @tablet) {
                          display: none;
                        }

                        a{
                            cursor: pointer;
                            text-decoration: underline;
                            font-size: 14px;
                            color: #727ea4;
                            margin: 0 0 0 10px;
                        }
                    }
                    .form_search_content_item_calend_3th{
                        position: relative;
                        top: -0px;
                        border: 1px solid #dcdcdc;
                        border-radius: 5px;
                        overflow: hidden;
                        width: 100%;
                        height: 237px;
                        padding: 5px 0 0 0;

                        @media (max-width: @tablet) {
                          display: none;
                        }
                    }
                }
                .form_search_content_item_half{
                    position: relative;
                    float: left;
                    border: 0px solid red;
                    .form_search_content_item_title{
                        border: 0px solid red;
                        text-transform: uppercase;
                        font-size: 16px;
                        font-weight: 600;
                        letter-spacing: 0.05em;
                        color: #000;
                        margin: 0 0 13px 0;
                    }
                    .form_search_content_item_content{
                        //width: 236px;
                        border: 0px solid #b3bbc3;
                        height: 28px;
                        padding: 4px 0 0 0;

                        @media (max-width: @tablet) {
                          padding-left: 0;
                        }
                    }
                }
                .ages{
                    width: 420px;
                    margin: 0 0 40px 178px;

                    @media (max-width: @tablet) {
                      width: 45%;
                      margin: 0;
                    }

                    @media (max-width: @mobile) {
                      width: 100%;
                      margin-bottom: 20px;
                    }

                    #minAge, #maxAge{
                        display: block;
                        width: 62px;
                        padding: 0 0 0 4px;
                        height: 32px;
                        border: 1px solid #b3bbc3;
                        border-radius: 3px;
                        background: none;
                        font-size: 14px;
                        color: #444;
                        margin: 0 0 20px 0;
                    }


                }
                .price{
                    width: 413px;
                    margin: 0 0 40px 0px;
                    padding-left: 67px;

                    @media (max-width: @tablet) {
                      width: 45%;
                      padding-left: 0;
                      float: right;
                    }

                    @media (max-width: @mobile) {
                      width: 100%;
                    }

                    #minCost, #maxCost{
                        display: block;
                        width: 62px;
                        padding: 0 0 0 4px;
                        height: 32px;
                        border: 1px solid #b3bbc3;
                        border-radius: 3px;
                        background: none;
                        font-size: 14px;
                        color: #444;
                        margin: 0 0 20px 0;
                    }
                }
            }
        }
    }
    .form_search_content_hidden{
        .form_search_content;
        height: 0;
        padding: 0 0 50px 0;
        .form_search_content_type{
            .form_search_content_type_content{
                top: -@legacy-wrapper-height;
            }
        }
    }




    .reklama_970_100{
        position: absolute;
        bottom: -50px;
        left: 50%;
        width: 970px;
        height: 100px;
        margin: 0  0 0 -485px;
        border: 0px solid red;
        z-index: 100;
    }
    .reklama_970_100_hidden{
        display: none;
    }
}

#show_more_results{

    height: 45px;
    border-top: 1px solid #71b485;
    span{
        display: block;
        cursor: pointer;
        position: relative;
        margin: -23px auto 0;
        padding: 10px 0;
        width: 188px;
        border-radius: 2px;
        border: 1px solid #71b485;
        color: #71b485;
        font-size: 16px;
        font-weight: bold;
        background: #fff;
        text-align: center;
        img.treug{
            margin: 0 0 0 5px;
        }
        img.loader{
            width: 180px;
            height: 16px;
        }
    }
}

.show_more_results_mini{
    margin: 30px 52px 0 0;
    float: right;
    width: 836px;
    display: none;
}

.show_more_results_normal{
    margin: 30px auto 0;
    width: 1164px;
}

.form-search{
  &__submit {
    margin: 0 auto 0;
    width: 270px;
    border: 0px solid red;
    text-align: center;
  }
}
