#form_search_mini_id{
    display: block;
    position: relative;
    float: left;
    overflow: hidden;
    width: 365px;
    padding: 0 0 0 0;
}

#fest_content_short_info{
    #form_search_mini_id{
        margin: 0 0 0 -50px;
    }
}
.form_search_mini{
    position: relative;
    float: left;
    width: 310px;
    padding: 0 0 10px 0;
    border: 1px solid #d6d6d6;
    background: #f4f6f7;
    left: 27px;
    margin: 0 0px 30px 0;

    .form_search_mini_title{
        text-align: center;
        margin: 26px 0 0 0;
        font-size: 24px;
        font-weight: 500;
    }
    .form_search_mini_calendar{
        text-align: left;
        margin: 3px 0 0 13px;
        font-size: 16px;
        font-weight: 400;

        input#date1_input,
        input#date2_input,{
            height: 34px;
            width: 108px;
            font-size: 14px;
            padding: 0 0 0 11px;
            margin: 0 4px 0 3px;
            color: #666666;
            border-radius: 2px;
            border: 0px solid #c9c9c9;
            background: url(/d/i/calendar_green.png) no-repeat;
            cursor: pointer;
        }
        input#date1_mini_hover,
        input#date2_mini_hover{
            height: 31px;
            width: 117px;
            border: 1px solid red;
            background: none;
            margin: 20px 0 0 -127px;
            opacity: 0;
        }
    }

    .form_search_mini_country_city{
        border: 0px solid red;
        //float: left;
        width: 310px;
        margin: 23px 0 0 2px;
        .form_search_mini_country{
            position: relative;
            width: 254px;
            margin: 0 0 0 9px;
            border: 0px solid red;
            .form_search_mini_country_title{
                font-size: 20px;
                font-weight: 600;
                letter-spacing: 0.015em;
                color: #000;
                margin: 0 0 10px 5px;
            }
            .form_search_mini_country_content{
                width: 288px;
            }
            .form_search_mini_country_quick{
                margin: 4px 0 0 0;
                a{
                    cursor: pointer;
                    text-decoration: underline;
                    font-size: 14px;
                    color: #727ea4;
                    margin: 0 9px 0 0;
                }
            }
        }
        
        .form_search_mini_city{
            position: relative;
            width: 254px;
            margin: 0 0 20px 9px;
            border: 0px solid red;
            .form_search_mini_city_title{
                font-size: 20px;
                font-weight: 600;
                letter-spacing: 0.015em;
                color: #000;
                margin: 0 0 10px 5px;
            }
            .form_search_mini_city_content{
                width: 288px;
            }
        }
    }

    .form_search_mini_zhanr{
        border: 0px solid red;
        margin: 18px 0 0 11px;

        .form_search_mini_zhanr_title{
            font-size: 20px;
            font-weight: 600;
            letter-spacing: 0.015em;
            color: #000;
            margin: 0 0 10px 5px;
        }

        .form_search_mini_content_checkbox_block{
            .search_mini_category_check{
                display: block;
            }
            input[type="checkbox"] {
                display:none;
            }
            
            label{
                margin: 11px 0 0 3px;
                font-size: 16px;
                letter-spacing: -0.01em;
                position: relative;
                display: block;
            }
            
            input[type="checkbox"] + label span {
                display:inline-block;
                width:20px;
                height:20px;
                margin:-1px 17px 0 0;
                vertical-align:middle;
                background:url(/d/i/check_sheet.png) left top no-repeat;
                cursor:pointer;
            }
            input[type="checkbox"]:checked + label span {
                background:url(/d/i/check_sheet.png) -20px top no-repeat;
            }
        }
    }

    .form_search_mini_zaoch{
        border: 0px solid red;
        margin: 18px 0 0 11px;
        input[type="checkbox"] {
            display:none;
        }
        
        label{
            margin: 11px 0 0 3px;
            font-size: 16px;
            letter-spacing: -0.01em;
            position: relative;
            display: block;
        }
        
        input[type="checkbox"] + label span {
            display:inline-block;
            width:20px;
            height:20px;
            margin:-1px 17px 0 0;
            vertical-align:middle;
            background:url(/d/i/check_sheet.png) left top no-repeat;
            cursor:pointer;
        }
        input[type="checkbox"]:checked + label span {
            background:url(/d/i/check_sheet.png) -20px top no-repeat;
        }
    }

    .form_search_mini_price{
        border: 0px solid red;
        margin: 25px 0 0 15px;

        .form_search_mini_price_title{
            font-size: 20px;
            font-weight: 600;
            color: #000;
            margin: 0 0 12px -2px;
        }

        #minCost, #maxCost{
            height: 25px;
            width: 55px;
            padding-right: 2px;
            font-size: 14px;
            color: #666666;
            border-radius: 2px;
            border: 1px solid #c9c9c9;
            text-align: right;
        }

        #minCost{
            margin: 0 0 0 0;
        }

        #maxCost{
            margin: 0 11px 0 0;
        }

        #slider_price_mini{
            width: 285px;
            margin: 54px 0 30px;
        }
    }

    .form_search_mini_age{
        border: 0px solid red;
        margin: 25px 0 0 15px;

        .form_search_mini_age_title{
            font-size: 20px;
            font-weight: 600;
            color: #000;
            margin: 0 0 12px -2px;
        }

        #minAge, #maxAge{
            height: 25px;
            width: 55px;
            padding-right: 2px;
            font-size: 14px;
            color: #666666;
            border-radius: 2px;
            border: 1px solid #c9c9c9;
            text-align: right;
        }

        #minAge{
            margin: 0 0 0 0;
        }

        #maxAge{
            margin: 0 11px 0 0;
        }

        #slider_age_mini{
            width: 285px;
            margin: 54px 0 30px;
        }
    }

    #mini_form_search_submit{
        display: block;
        border-radius: 3px;
        text-decoration: none;
        color: #fff;
        padding: 0px 0px 3px 0px;
        margin: 5px auto 0;
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 0.025em;
        background-color: @color-button-dark-green;
        width: 224px;
        div{
            border-radius: 3px;
            padding: 7px 14px 6px 14px;
            background-color: @color-button-light-green;
        }
        &:hover{
            background: none;
            padding: 3px 0px 0px 0px;
        }
    }

    #show_hide{
        position: absolute;
        width: 10px;
        height: 39px;
        top: 30px;
        right: -19px;

        padding: 26px 5px 3px 3px;
        font-size: 13px;
        color: #fff;
        background: #BAC4CB;
        border: 1px solid #d6d6d6;
        border-left: none;
        -webkit-border-top-right-radius: 3px;
        -webkit-border-bottom-right-radius: 3px;
        -moz-border-radius-topright: 3px;
        -moz-border-radius-bottomright: 3px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        z-index: 1000;
        cursor: pointer;
        &:hover{
            color: #fff;
        }
    }

    .show_hide_nocollapse:after{
        content: '◄';
    }
    .show_hide_collapse:after{
        content: '►';
    }
}

.attention{
    position: relative;
    float: left;
    width: 310px;
    height: 80px;
    text-align: center;
    
    padding: 0 0 10px 0;
    border: 1px solid #d6d6d6;
    background: #f4f6f7;
    left: 27px;
    p{
        font-size: 20px;
        font-weight: 600;
        color: #000;
        margin: 7px 0 0 -2px;
    }
}