#list_results{
    width: 1200px;
    margin: 0px auto 40px;
    padding: 20px 0 0 0;
    border: 0px solid red;
    #main_search_title{
        width: 100%;
        color: #000;
        border: 0px solid red;
        text-align: center;
        font-size: 36px;
        font-weight: 500;
        letter-spacing: .15em;
        position: relative;
        margin: 0 auto 20px;
        padding: 0 0 10px 0;
    }
    .main_search_result_item_title{
        border: 0px solid red;
        margin: 0 0 7px 0;
        .main_search_result_item_title_a{
            color: #2c4d99;
            font-weight: 400;
            font-family: "Roboto";
            text-decoration: none;
        }        
    }
    .main_search_result_item_text{
        border: 0px solid red;
        margin: 0 0 15px 0;
    }
}