@import (reference) "_vars";
@import "main/page";
@import "main/menu";
@import "main/countries";
@import "main/header";
@import "main/slider";
@import "main/footer";
@import "main/help-video";
@import "find/event";
@import "default_content";
@import "fest";
@import "form_search";
@import "form_search_mini";
@import "fest_order";
@import "main_page";
@import "main_search";
@import "popup";
@import "profile";
@import "voting";
@import "maps";

*{
    margin:0;
    font-family: 'Roboto', Arial, sans-serif;
}

textarea:focus, input:focus{
    outline: none;
}

.clear{clear: both !important; float:none !important;}
.hidden{display: none;}
body{

    //position: relative;

    #page_bg{
        position: absolute;
        min-height: 100%;
        min-width:1260px;
        width:1260px;
        border: 0px solid #00f;
        background: #fff;
        z-index: -1000;

        @media (max-width: @tablet) {
          display: none;
        }
    }

    #blurred_image_container{
        position: fixed;
        top: 0; left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        .blur_block_top{
            display: none;
            //background:url('/d/i/bg_blur.jpg') no-repeat;
            background:url('/d/i/new_bg_blur.png') no-repeat;

            //background-size: cover;
            background-position: top center;
        }
        .blur_block_bottom{
            //background:url('/d/i/bg.jpg') no-repeat;
            background:url('/d/i/new_bg.png') no-repeat;
            opacity: 0.5;
            //background-size: cover;
            background-position:  top center;
        }
        .img-src{
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }
}

@media screen and (max-width:1400px) {
    .blur_block_bottom{
        display: none;
    }
}

html{
    position:relative;
    min-height:100%;
    border: 0px solid red;

    /*
    background: url(/d/i/bg.jpg) no-repeat;
    background-position: center cover;
    background-color: #b7dbf0;
    */
}

/*
#fixed_blocks{
    border: 0px solid red;
    background: #fff;
    position: absolute;
    top: 0;
    width: 1260px;
    //height: 100px;
    z-index: 9999;
    .header_search, .order_filter, .fest_content_fixed_menu{
        display: none;
    }
}

.fixed_blocks_shadow{
    box-shadow: 1px 2px 24px -5px #000000;
}
*/





.fixed_header_search_fixed{
    //box-shadow: 1px 2px 24px -5px #000000;
    padding: 6px 0 6px 0;
    background: rgba(255, 255, 255, 0.95);
}

.with_shadow_bottom{

    -webkit-box-shadow: 0px 11px 8px -7px rgba(0,0,0,0.4);
       -moz-box-shadow: 0px 11px 8px -7px rgba(0,0,0,0.4);
            box-shadow: 0px 11px 8px -7px rgba(0,0,0,0.4);
}

.without_shadow_bottom{
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}

.fixed_header_search_fixed2{
    padding: 6px 0 0px 0  !important;
}

.fixed_header_search_fixed3{
    padding: 6px 0 12px 0  !important;
}

.nws{
    margin-top: -31px;
}

.news_item_block{
    position: relative;
    border-bottom: 1px solid #e4e4e4;
    padding: 26px 0 22px 0;
    .news_item_block_title{
        margin: 0 0 15px 0;
        font-size: 25px;
        a{
            color: #000 !important;
            letter-spacing: -0.01em;
            text-decoration: none !important;
            line-height: 1.25em;
        }
        .date_news{
            font-size: 13px;
            color: #7e7e7e;
            margin: 0 0 0 10px;
            font-weight: 500;
        }
    }
    .news_item_block_content{
        border: 0px solid blue;
        .news_item_block_content_photo{
            float: left;
            margin: 0 10px 10px 0;
        }
        a{
            color: #515eae !important;
            text-decoration: none !important;
        }
    }
}

.rvs{
    margin-top: -31px;
}

.revs_item_block{
    position: relative;
    padding: 26px 0 22px 0;
    .revs_item_block_event{
        font-size: 16px;
        color: #0ecb20;
        padding: 0 0 10px 0;
        a{
            font-size: 16px;
            font-weight: 500;
        }
    }
    .revs_item_block_text{

    }
    .revs_item_block_from{
        padding: 10px 0 10px 0;
        float: right;
        width: 380px;
        color: #7f7777;
    }
    .revs_item_block_separate{
        height: 31px;
        margin: 0 auto;
        width: 111px;
        border-bottom: 1px solid #0ab82b;
    }
}



#bg_header {
    position: absolute;
    min-height: 100%;
    min-width:1260px;
    width:1260px;
    border: 0px solid #00f;
    background: #000;
    z-index: -1000;
    display: none;
}

#content{
    position: relative;
    z-index: 1;
    padding-bottom: 359px;
    background: #fff;

    @media (max-width: @mobile) {
      overflow-x: hidden;
    }
}


#form_search_header_switch_form_map{
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;

    width: 280px;
    border: 0px solid red;
    .form_search_header_switch_form_map_text{
        border: 0px solid blue;
        float: left;
        height: 28px;
        padding: 5px 0 0 0;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 500;
        color: #000;
        transition-duration: .4s;
    }
    .form_search_header_switch_form_map_text_passive{
        color: #b3b3b3;
        transition-duration: .4s;
    }

    #form_search_header_switch_form_map_switch{
        cursor: pointer;
        position: relative;
        float: left;
        margin: 0 24px 0 18px;
        background: url(/d/i/form_search_switch_bg.png);
        width: 85px;
        height: 40px;
        #form_search_header_switch_form_map_switch_circle{
            position: absolute;
            border: 0px solid red;
            width: 40px;
            height: 40px;
            background: #2258ae;
            -moz-border-radius: 50px;
            -webkit-border-radius: 50px;
            border-radius: 50px;
        }
        .form_search_header_switch_form_map_switch_circle_left{
            top: 0; left: 0;
            -moz-transition: all .4s;
            -webkit-transition: all .4s;
            -o-transition: all .4s;
            transition: all .4s;
        }
        .form_search_header_switch_form_map_switch_circle_right{
            top: 0; left: 45px;
            transition-duration:.4s;
        }
    }
}

.order_filter{
    position: relative;
    width: 1260px;
    z-index: 90000;

    border: 0px solid red;
    text-align: left;
    background: #fff;

    #order_filter_inner{
        border: 0px solid red;
        width: 100%;
        text-align: center;
        position: relative;
        margin: 0 0 0 0px;
        text-align: left;

        font-size: 13px;
        font-family: Roboto;
        font-weight: bold;

        letter-spacing: 0.042em;

        a{
            font-weight: normal;
            cursor: pointer;
            border-bottom: 0px dotted #aaa;
        }

        .disable{background: none !important; padding: 0 0 0 0;}
        .asc{background: url(/d/i/sortasc.png) right 7px no-repeat; padding: 0 19px 0 0;}
        .desc{background: url(/d/i/sortdesc.png) right 7px no-repeat; padding: 0 19px 0 0;}
    }

    #filtres_all{
        border: 0px solid red;
        width: 800px;
        margin: 0 0 0 30px;
        .param_search_to_delete_block{
            border: 0px solid red;
            width: 800px;
            margin: 0px auto 10px;
            padding: 0;

            text-align: left;

            .param_search_to_delete{
                display: inline-block;

                padding: 3px 0 3px 5px;
                margin: 3px;
                background: #FCFAE3;
                border: 1px solid #f0f0f0;

                font-size: 13px;
                font-family: Roboto;
                font-weight: 400;

                &:hover{
                    background: #f0f0f0;
                    cursor: default;
                }
                a{
                    text-decoration: none;
                    cursor: pointer;
                    margin-right: 7px;
                }
            }



        }
        .param_search_to_delete_block_ext{
            border: 0px solid red;
            float: left;
            .param_search_to_delete_all, #back_to_form{
                border-bottom: 1px dotted #808080;
                cursor: pointer;
                display: inline-block;
                margin: 0 15px 0 0;
                font-size: 13px;
                font-family: Roboto;
                font-weight: 400;
                color: #808080;


                &:hover{
                    cursor: default;
                }
                a{
                    cursor: pointer;
                }
            }
        }

        #filter_time_block{
            border: 0px solid red;
            float: left;
            margin: 0 50px 8px 4px;
            .form_filter_search_time{
                label{
                    input.time_filter_search{
                        position: relative;
                        top: 3px;
                    }
                }
            }
            .form_filter_time{
                label{
                    input.time_filter_search{
                        position: relative;
                        top: 30px;
                    }
                }
            }
        }
    }


    #order_filter_inner2{
        width: 100%;
        text-align: center;
        position: relative;
        margin: 0;
        text-align: center;
        padding: 10px 0;

        font-size: 13px;
        font-family: Roboto;
        font-weight: normal;

        letter-spacing: 0.042em;

        a{
            font-weight: normal;
            cursor: pointer;
            border-bottom: 0px dotted #aaa;
        }

        .disable{background: none !important; padding: 0 0 0 0;}
        .asc{background: url(/d/i/sortasc.png) right 5px no-repeat; padding: 0 19px 0 0;}
        .desc{background: url(/d/i/sortdesc.png) right 5px no-repeat; padding: 0 19px 0 0;}
    }


    #filtres_all2{
        border: 0px solid red;
        width: 100%;
        margin: 0;
        text-align: center;

        .order_filter_inner_date{
            span{
                border-bottom: 1px dotted #ccc;
            }

        }

        #filter_time_block2{
            font-weight: bold !important;
            border: 0px solid green;
            margin: 0 auto;
            .form_filter_time{
                label{
                    input.time_filter{
                        position: relative;
                        top: 3px;
                    }
                }
            }
        }
    }
}

.order_filter_fixed{
    //box-shadow: 1px 2px 24px -5px #000000;

    background: rgba(255, 255, 255, 0.95);
    border-bottom: 1px solid #E6E6E6;
}


/*
.fixed_warning_nofixed{
    box-shadow: none;
    margin: 20px auto 10px;
}

.fixed_warning_fixed{
    box-shadow: 1px 2px 24px -5px #000000;
    margin: 0;
}
*/




#fest{
    background: #fff;
    padding: 0px 0 0 0;
    position: relative;
    z-index: 1;
    .fest_inner{
        width: 1160px;
        margin: 0 auto;
        border: 0px solid red;
        position: relative;
    z-index: 1;
    }
}

#breadcrumbs_bg{
    position: absolute;
    left:50%;
    margin: -150px 0 0 -116px;
    width: 232px;
    height: 240px;
    background-color: @color-forms-search-header-bg;
    border-radius:100%;
    clip: rect(150px, 232px, 240px, 0);
    z-index: 50;
}

#breadcrumbs{
    position: relative;
    border: 0px solid red;
    padding: 36px 30px 50px 30px;
    text-align: left;
    color: #818080;
    font-size: 12px;
    font-family: "Roboto";
    letter-spacing: .005em;
    z-index: 51;
    a{
        color: #818080 !important;
        text-decoration: underline;
        &:hover{
            color: #2c4d99 !important;
        }
    }
}

#links_to_categories{
    margin: -10px 30px 20px;
    text-align: center;
    a{
        color: #000;
        text-decoration: none;
        border-bottom: 1px dotted #ccc;
        margin: 0 5px 0 0 0;
    }
}

#block_with_map{
    position: absolute;
    z-index: 9000;
}

#fest_content{
    border: 0px solid #ccc;
}

/****************************************************/

.fest_content_fixed_menu{
    margin: 0 0 20px -50px;
    padding: 0px 0 0px 48px;
    width: 1212px;

    height: 110px;
    background: #e5e9ec;
    border: 0px solid red;
    position: relative;
    #fest_content_fixed_menu_tabs{
        width: 620px;
        height: 100%;
        border: 0px solid brown;

        display: flex;
        display: -webkit-flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        align-content: center;

        *{display: inline-block;}

        .tab_item{
            border: 0px solid black;

            margin: 0px 21px 4px 0;
            font-family: "Roboto";
            letter-spacing: -0.018em;
            font-size: 19px;
            font-weight: 300;
            border-bottom: 1px solid @color-fest-description-tabs-a;
            text-decoration: none;
            color: @color-fest-description-tabs-a;
            cursor: pointer;
        }
        .selected_tab{
            border: 0px solid blue;
            // margin: 6px 21px 4px 0;
            font-family: "Roboto";
            font-size: 19px;
            font-weight: 500;
            //border-bottom: none;
            text-decoration: none;
            cursor: auto;
            color: #000;
        }
        span.count_reviews{
            float: left;
            font-size: 13px;
            font-weight: 200;
            position: relative;
            left: -14px;
            top: -7px;
        }
    }

    .button_green{
        display: block;
        float: left;
        cursor: pointer;
        border-radius: 3px;
        text-decoration: none;
        color: #fff;
        margin: 0 0 0 0px;
        padding: 0px 0px 3px 0px;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0.013em;
        background-color: @color-button-dark-green;
        div{
            border-radius: 3px;
            padding: 12px 12px 12px 12px;
            background-color: @color-button-light-green;
        }
        &:hover{
            background: none;
            padding: 3px 0px 0px 0px;
        }
    }

    #fest_content_fixed_menu_your_manager{
        float: right;
        position: relative;
        //width: 320px;
        margin: 31px 0 0 0;
        padding: 0 70px 0 0;
        border: 0px solid red;
        #fest_content_fixed_menu_your_manager_name{
            float: right;
            position: relative;
            margin: 5px 0 0 0;
            font-size: 15px;
            span{
                color: #3b5c90;
                cursor: pointer;
                &:hover{
                    border-bottom: 0px dotted @color-fest-content-short-info;
                    cursor: default;
                }



                #manager_event_hidden{display: none;}
            }
        }

        #fest_content_fixed_menu_your_manager_photo{
            float: right;
            position: relative;
            height: 64px;
            width: 64px;
            border: 6px solid #fff;
            border-radius: 100%;
            margin: -15px 10px 0 15px;

            a{
                display: block;
                position: relative;
                border: 0px solid red;
                height: 64px;
                width: 64px;
                width: 240px;
                right: 180px;
                //border-radius: 100%;
                z-index: 1;
            }
        }
    }
    #fest_content_fixed_menu_your_manager_hidden{
        display: none;
    }
}

.fixed_menu_fixed{
    background: rgba(229, 233, 236, 0.95);
}

/****************************************************/

#fest_content_name{
    border: 0px solid red;
    width: 80%;
    text-align: center;
    font-weight: 500;
    font-size: 31px;
    letter-spacing: .005em;
    text-transform: uppercase;
    color: #000;
    line-height: 45px;
    margin: 0 auto 6px;
    .cup_img{
        height: 22px;
    }
}

#fest_content_locations{
    border: 0px solid red;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 21px;
    letter-spacing: .005em;
    .location_head_country{
        font-weight: 500;
    }
}

#fest_content_short_info{
    margin: 0 0 0px -50px;
    padding: 43px 0 50px 48px;
    width: 1210px;
    border: 0px solid red;

    background-image: linear-gradient(#e5ecf1, #ffffff);



    .fest_content_short_info_left{
        position: relative;
        z-index: 10;
        left: 12px;
        top: -5px;
        float: left;
        width: 232px;
        min-height: 300px;
        text-align: center;
        background: #fff;
        box-shadow: 0px 0px 18px 0px #9b9b9b;
        padding: 0 0 0 0;
        border: 0px solid red;
        .dates_proved{
            border: 2px solid #888888;
            width: 204px;
            height: 95px;
            position: relative;
            left: 12px;
            top: 30px;
            margin: 0 0 50px 0;
            .dates_proved_title{
                background: #fff;
                padding: 0 6px;
                position: relative;
                text-transform: uppercase;
                float: left;
                top: -11px;
                left: 14px;
                color: #888888;
            }
            .dates_proved_days{
                float: left;
                position: relative;
                width: 204px;
                top: -17px;
                font-size: 50px;
                text-align: center;
                font-weight: bold;
                border: 0px solid red;
            }
            .dates_proved_month{
                width: 83px;
                float: left;
                position: relative;
                top: -28px;
                font-weight: bold;
                font-family: "Roboto";
                font-size: 14px;
                text-transform: uppercase;
                border: 0px solid red;
                text-align: center;
            }
            .month1{margin: 0 0 0 6px;}
            .month2{margin: 0 0 0 20px;}
            .dates_proved_year{
                float: left;
                position: relative;
                border: 0px solid #000;
                width: 100px;
                top: -15px;
                margin: 0 0 0 50px;
                text-align: center;
                span{
                    background: #fff;
                    color: #888888;
                }
            }
        }

        .fest_content_short_info_types_event{
            position: absolute;
            border: 0px solid red;
            text-align: left;
            z-index: 50;
            padding: 0;
            line-height:0;
            left: 207px;

            .fest_list_item_photo_types_event{
                height: 19px;
                padding: 3px 3px 0 7px;
                display: inline-block;
                position: relative;
                color: #fff;
                font-size: 14px;
                line-height: 1em;
                letter-spacing: 1.5em;
                cursor: default;

                width: 15px;
                overflow: hidden;


            }
            .e_fest{background: #ff0238; &:hover{left: -72px; width: 87px; letter-spacing: 0em; }}
            .e_konk{background: #0fca21; &:hover{left: -52px; width: 67px; letter-spacing: 0em;}}
            .e_mastkl{background: #ff7802; &:hover{left: -102px; width: 117px; letter-spacing: 0em;}}
            .e_kanik{background: #08a2d6; &:hover{left: -69px; width: 84px; letter-spacing: 0em;}}
        }
        .locations_countries_only{
            a{
                color: #000;
            }
            border: 0px solid red;
            width: 200px;
            margin: 15px 0 0 20px;
            text-align: left;
            font-weight: bold;
            line-height: 1.7em;
            text-transform: uppercase;
        }

        #fest_content_short_info_left_img{
            width: 232px;
            display: block;
            position: relative;
            bottom: 0;
            margin: 24px 0 0 0;
        }
    }

    #fest_content_short_info_right{
        float: left;
        width: 850px;
        margin: 0 0 0 50px;
        border: 0px solid red;

        .actual_adjacent_events{
            span{
                font-size: 17px;
                color: #f00;
                text-transform: uppercase;
                display: block;
                margin: 0 0 4px 0;
            }
            a{
                font-size: 18px;
                color: #000;
                text-decoration: underline;
            }
        }

        .other_adjacent_events{
            span{
                font-size: 17px;
                color: #000;
                text-transform: uppercase;
                display: block;
                margin: 20px 0 4px 0;
            }
            a{
                font-size: 18px;
                color: #000;
                text-decoration: underline;
            }
        }

        a.link_to_new_polozh{
                display: inline-block;
                color: #1741A5;
                font-size: 23px;
                font-weight: bold;
                text-transform: none;
                text-decoration: none;
                border-bottom: 1px solid #1741A5;
            }


        #fest_content_footer{
            margin: 6px 0 7px 0;
            border: 0px solid blue;
            #fest_content_footer_shared{
                line-height: 1.8em;
                margin: -7px 0 0 0;
                font-size: 11px;
                text-transform: uppercase;
                float: left;
                border: 0px solid black;
            }
            #fest_content_footer_buttons{
                float: right;
                margin: -53px 0 0 0;
                border: 0px solid magenta;
                .button_green{
                    display: block;
                    float: left;
                    cursor: pointer;
                    border-radius: 3px;
                    text-decoration: none;
                    color: #fff;
                    margin: 0 0 0 17px;
                    padding: 0px 0px 3px 0px;
                    font-size: 18px;
                    font-weight: 400;
                    letter-spacing: 0.013em;
                    background-color: @color-button-dark-green;
                    div{
                        border-radius: 3px;
                        padding: 12px 12px 12px 12px;
                        background-color: @color-button-light-green;
                    }
                    &:hover{
                        background: none;
                        padding: 3px 0px 0px 0px;
                    }
                }
                .button_gray{
                    display: block;
                    float: left;
                    cursor: pointer;
                    border-radius: 3px;
                    text-decoration: none;
                    color: #fff;
                    margin: 0 0 0 17px;
                    padding: 0px 0px 3px 0px;
                    font-size: 18px;
                    font-weight: 400;
                    letter-spacing: 0.013em;
                    background-color: #a2afb9;
                    div{
                        border-radius: 3px;
                        padding: 12px 12px 12px 12px;
                        background-color: #bac4cb;
                    }
                    &:hover{
                        background: none;
                        padding: 3px 0px 0px 0px;
                    }
                }
            }
        }
    }

    .fest_contnet_miniitems{
        margin: 6px 0 3px 2px;
        display: block;
        width: 100%;
    }
    .fest_contnet_miniitems_hidden{
        display: none;
    }

    #categories_event{
        border: 0px solid brown;
        float: left;
        padding: 0 0 6px 0px;
        color: #000;
        font-size: 19px;
        text-transform: lowercase;
        letter-spacing: 0.02em;
        span{
            font-size: 16px;
            color: #696b76;
            font-weight: 400;
            letter-spacing: 0.02em;
            text-transform: uppercase;
        }
    }

    #nominations_event{
        z-index:111;
        border: 0px solid red;
        padding: 0 29px 6px 0px;
        float: left;
        position: relative;
        color: #000;
        font-size: 19px;
        text-transform: lowercase;
        letter-spacing: 0.02em;

        span#nominations_event_title{
            display: block;
            border: 0px solid magenta;
            float: left;
            font-size: 16px;
            color: #696b76;
            font-weight: 400;
            letter-spacing: 0.02em;
            text-transform: uppercase;
        }
        #nominations_event_text{
            display: block;
            border: 0px solid red;
            float: left;
            width: 700px;
            color: #000;
            margin: -4px 0 0 5px;
            letter-spacing: 0.02em;
            #ext_genres{
                display: none;
            }
            #a_show_ext_genres{
                cursor: pointer;
                border-bottom: 1px dotted #3b5c90;
            }

            #genres_event_over{
                visibility:hidden;
                position: absolute;
                bottom: -15px;
                border: 0px solid red;
                opacity: 0;
                -moz-transition: all .2s;
                -webkit-transition: all .2s;
                -o-transition: all .2s;
                transition: all .2s;

                .genres_event_over_niz, .genres_event_over_verh{
                    position: absolute;
                    background: #fff;
                    left: 23px; top: 0px;
                    width: 20px; height: 20px;
                    transform: rotate(45deg);
                    -webkit-transform: rotate(45deg);
                }
                .genres_event_over_niz{
                    box-shadow: 0 0 7px #b2b2b2;
                    z-index: 111;
                }
                .genres_event_over_verh{
                    z-index: 113;
                }

                .genres_event_over_content{
                    border: 1px solid #e9e9e9;
                    border-radius: 4px;
                    width: 300px;
                    padding: 20px;
                    position: absolute;
                    top: 6px;
                    left: -20px;
                    z-index:112;
                    background: #fff;
                    color: #000;
                    font-size: 14px;
                    letter-spacing: 0.02em;
                    box-shadow: 0 0 7px #b2b2b2; /* Добавляем тень для блока */
                }
            }
        }

        #nominations_event_text:hover > #genres_event_over{
            opacity:1;
            bottom: 0px;
            visibility:visible;
            transition-duration:.2s;
        }


    }



    /*********************************************************************/

    #ages_members_event{
        border: 0px solid red;
        padding: 0 29px 6px 0px;
        float: left;
        position: relative;
        color: #000;
        font-size: 19px;
        text-transform: lowercase;
        letter-spacing: 0.02em;
        span#ages_members_event_title{
            display: block;
            float: left;
            border: 0px solid blue;
            font-size: 16px;
            color: #696b76;
            font-weight: 400;
            letter-spacing: 0.02em;
            text-transform: uppercase;
        }

        #ages_members_event_text{
            display: inline-block;
            float: left;
            border: 0px solid red;
            color: #000;
            margin: -3px 0 0 8px;

            &:hover{
                border-bottom: 0px dotted @color-fest-content-short-info;
                cursor: default;
            }
            span.ages_val{
                letter-spacing: 0.02em;
                border-bottom: 1px dotted #000;
            }
            span.let{
                font-size: 16px;
                color: #696b76;
                font-weight: 400;
                letter-spacing: 0.02em;
                text-transform: uppercase;
                border-bottom: 0px dotted #000;
            }
        }

        #ages_members_event_over{
            visibility:hidden;
            position: absolute;
            top: 35px;
            border: 0px solid red;
            opacity: 0;
            -moz-transition: all .2s;
            -webkit-transition: all .2s;
            -o-transition: all .2s;
            transition: all .2s;

            .ages_over_niz, .ages_over_verh{
                position: absolute;
                background: #fff;
                left: 23px; top: 0px;
                width: 20px; height: 20px;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
            }
            .ages_over_niz{
                box-shadow: 0 0 7px #b2b2b2;
                z-index: 111;
            }
            .ages_over_verh{
                z-index: 113;
            }

            .ages_over_content {
                border: 1px solid #e9e9e9;
                border-radius: 4px;
                width: 300px;
                padding: 20px;
                position: absolute;
                top: 6px;
                left: -20px;
                z-index:112;
                background: #fff;
                color: #000;
                font-size: 14px;
                letter-spacing: 0.02em;
                box-shadow: 0 0 7px #b2b2b2; /* Добавляем тень для блока */
               }
        }
    }

    #ages_members_event_text:hover > #ages_members_event_over{
        opacity:1;
        top: 25px;
        visibility:visible;
        transition-duration:.2s;
    }

    /*********************************************************************/

    #price_event{
        z-index:109;
        border: 0px solid red;
        padding: 0 29px 6px 0;
        float: left;
        position: relative;
        color: #000;
        font-size: 19px;
        text-transform: lowercase;
        letter-spacing: 0.02em;
        span#price_event_title{
            display: block;
            float: left;
            border: 0px solid blue;
            font-size: 16px;
            color: #696b76;
            font-weight: 400;
            letter-spacing: 0.02em;
            text-transform: uppercase;
        }
        #price_event_text{
            color: #000;
            display: block;
            float: left;
            border: 0px solid red;
            float: left;
            color: #000;
            margin: -4px 0 0 5px;
            letter-spacing: 0.02em;
            span.ages_val{
                letter-spacing: 0.02em;
                border-bottom: 1px dotted #000;
            }
            span.let{
                font-size: 16px;
                color: #696b76;
                font-weight: 400;
                letter-spacing: 0.02em;
                text-transform: uppercase;
                border-bottom: 0px dotted #000;
            }
            &:hover{
                border-bottom: 0px dotted @color-fest-content-short-info;
                cursor: default;
            }
        }

        #price_event_over{
            visibility:hidden;
            position: absolute;
            top: 35px;
            border: 0px solid red;
            opacity: 0;
            -moz-transition: all .2s;
            -webkit-transition: all .2s;
            -o-transition: all .2s;
            transition: all .2s;

            .price_event_over_niz, .price_event_over_verh{
                position: absolute;
                background: #fff;
                left: 0px; top: 0px;
                width: 20px; height: 20px;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
            }
            .price_event_over_niz{
                box-shadow: 0 0 7px #b2b2b2;
                z-index: 111;
            }
            .price_event_over_verh{
                z-index: 113;
            }

            .price_event_over_content {
                border: 1px solid #e9e9e9;
                border-radius: 4px;
                width: 300px;
                padding: 20px;
                position: absolute;
                top: 6px;
                left: -30px;
                z-index:112;
                background: #fff;
                color: #000;
                font-size: 14px;
                box-shadow: 0 0 7px #b2b2b2; /* Добавляем тень для блока */
               }
        }
    }

    #price_event_text:hover > #price_event_over{
        opacity:1;
        top: 25px;
        visibility:visible;
        transition-duration:.2s;
    }

    /*********************************************************************/

    #dates_event{
        z-index:108;
        border: 0px solid red;
        padding: 0 29px 6px 0;
        float: left;
        position: relative;
        color: #000;
        font-size: 19px;
        text-transform: lowercase;
        letter-spacing: 0.02em;
        span#dates_event_title{
            display: block;
            float: left;
            border: 0px solid blue;
            font-size: 16px;
            color: #696b76;
            font-weight: 400;
            letter-spacing: 0.02em;
            text-transform: uppercase;
        }
        #dates_event_text{
            color: #000;
            display: block;
            float: left;
            border: 0px solid red;
            float: left;
            width: 685px;
            color: #000;
            margin: -4px 0 0 5px;
            letter-spacing: 0.02em;
            span.dates_val{
                letter-spacing: 0.02em;
                border-bottom: 1px dotted #000;
            }
            &:hover{
                border-bottom: 0px dotted @color-fest-content-short-info;
                cursor: default;
            }

        }

        #dates_event_over{
            visibility:hidden;
            position: absolute;
            top: 35px;
            border: 0px solid red;
            opacity: 0;
            -moz-transition: all .2s;
            -webkit-transition: all .2s;
            -o-transition: all .2s;
            transition: all .2s;

            .dates_event_over_niz, .dates_event_over_verh{
                position: absolute;
                background: #fff;
                left: 45px; top: 0px;
                width: 20px; height: 20px;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
            }
            .dates_event_over_niz{
                box-shadow: 0 0 7px #b2b2b2;
                z-index: 111;
            }
            .dates_event_over_verh{
                z-index: 113;
            }

            .dates_event_over_content {
                border: 1px solid #e9e9e9;
                border-radius: 4px;
                width: 300px;
                padding: 20px;
                position: absolute;
                top: 6px;
                left: 0px;
                z-index:112;
                background: #fff;
                color: #000;
                font-size: 14px;
                box-shadow: 0 0 7px #b2b2b2; /* Добавляем тень для блока */
            }
        }
    }

    #dates_event_text:hover > #dates_event_over{
        opacity:1;
        top: 25px;
        visibility:visible;
        transition-duration:.2s;
    }

    /*********************************************************************/



    #fest_content_date_priem{
        z-index:107;
        border: 0px solid red;
        padding: 0 29px 6px 0;
        float: left;
        position: relative;
        color: #000;
        font-size: 19px;
        letter-spacing: 0.02em;
        margin: 23px 0 4px 0;
        width: 510px;
        #date_priem_event_title{
            display: block;
            float: left;
            border: 0px solid blue;
            font-weight: 600;
            font-size: 20px;
            letter-spacing: .022em;
            color: #000;
            line-height: 28px;
        }
        span#fest_content_date_priem_text{
            font-weight: 300;
            color: #000;
            display: block;
            float: left;
            border: 0px solid red;
            float: left;
            width: 315px;
            color: #000;
            margin: 2px 0 0 5px;
            letter-spacing: 0.02em;


            span.fest_content_date_priem_val{
                letter-spacing: 0.02em;
                font-weight: 500;
                border-bottom: 1px dotted #000;
            }
            &:hover{
                border-bottom: 0px dotted @color-fest-content-short-info;
                cursor: default;
            }
        }
    }
}

#genres_events{
    letter-spacing: 0.033em;
    font-family: Arial;
    font-size: 15px;

    #genres_title{
        font-weight: 700;
        letter-spacing: 0.035em;
        margin: 0 0 18px 0;
    }
    ul{
        list-style-image: url('/d/i/bul.png');
        margin-left: 20px;
        padding-left: 0px;
        li{
            font-size: 14px;
            margin: 0 2px 13px 0;
            padding: 0;
            letter-spacing: 0.031em;
            font-family: Arial;
        }
    }
}

#annotation_event{
    margin: 19px 0 15px 0;
    line-height: 1.55em;
    letter-spacing: -0.05em;
    font-family: "Roboto";
    font-size: 15px;
}

#show_more_information{
    margin: 8px 0 0 0;
    position: relative;
    display: block;
    text-align: left;
    a{
        color: @color-fest-description-tabs-a;
        border-bottom: 1px dotted @color-fest-description-tabs-a;
        font-size: 17px;
        font-weight: 300;
        text-decoration: none;
    }

}

.share_save_send_print{
    float: left;
    width: 100%;
    padding: 24px 0 0 0;
    margin: 12px 0 30px 0;


    .share_top_down{
        float: left;
        top: -15px;
        border: 0px solid red;
        font-size: 11px;
        text-transform: uppercase;

        a{
            padding: 0;
            border: none;
            margin: 0;
        }
    }
    .ssp{
        // padding: 15px 0 0 0;
        float: right;
        text-align: right;
        a{
            display: block;
            float: right;
            width: 37px;
            height: 37px;
            padding: 9px 9px 0 0;
            box-sizing: border-box;
            margin: 0 10px 0 0;
            border: 1px solid #dbdbdb;
            border-radius: 100%;
        }
        .become_sponsor{
            width: auto;
            border: none;
            border-radius: 3px;
            background: #3797d3;
            color: #fff;
            padding: 7px 21px;
            text-decoration: none;
            margin: 0 30px 0 0;
            font-family: Roboto;
            font-weight: 500;
        }
    }
}

.reklama_890_100{
    width: 890px;
    height: 100px;
    margin: 30px auto 44px;
    border: 0px solid red;
}





.fest_inner_tabs{
    margin: 0px 0 10px 0;
    padding: 0 0 20px 0;
    .fest_inner_tabs_titles{
        border: 0px solid red;
        letter-spacing: 0.01em;
        .tab_item{
            display: block;
            float: left;
            margin: 5px 18px 0 0;
            font-family: "Roboto";
            letter-spacing: 0.001em;
            font-size: 17px;
            font-weight: 300;
            border-bottom: 1px dotted @color-fest-description-tabs-a;
            text-decoration: none;
            color: @color-fest-description-tabs-a;
            cursor: pointer;
        }
        .selected_tab{
            margin: 0px 18px 0 0;
            font-family: "Roboto";
            font-size: 24px;
            font-weight: bold;
            border-bottom: none;
            text-decoration: none;
            cursor: auto;
            color: #000;
        }
        span.count_reviews{
            display: block;
            float: left;
            font-size: 13px;
            font-weight: 200;
            position: relative;
            left: -14px;
            top: -7px;
        }
    }
    .fest_inner_tabs_content{
        display: none;
        margin: 10px 0 0 0;
        font-size: 15px;
        line-height: 1.5em;


        table{
            border: 0px solid #504f4f;
            border-collapse: collapse;
            clear: both;
        }

        table tbody tr td, table tr td{
            border: 1px solid #504f4f;
            padding: 5px;
        }
        table.noborder{
            border: 0;
            border-collapse: collapse;
            clear: both;
        }
        table.noborder tbody tr td, table.noborder tr td{
            border: 0;
            padding: 5px;
        }


        a{
            color: #0ecb20;
            text-decoration: underline;
        }

        p{
            display: block;
            clear: both;
            font-family: "Roboto";
            margin-bottom: 15px;
            letter-spacing: 0.004em;
            color: #000;
            font-size: 14px;
        }

        ul{
            list-style-image: url('/d/i/bul.png');
            margin-left: 20px;
            padding-left: 0px;
        }

        ul li{
            font-size: 14px;
            margin: 0 2px 13px 0;
            padding: 0;
            letter-spacing: 0.004em;
            font-family: "Roboto";
        }

        ol{
            margin-left: 20px;
            padding-left: 0px;
        }

        ol li{
            font-size: 14px;
            margin: 0 2px 13px 10px;
            padding: 0;
            letter-spacing: 0.004em;
            font-family: "Roboto";
        }


        #get_price_form{
            .title_get_price{
                font-family: Arial;
                font-size: 15px;
                font-weight: 700;
                letter-spacing: 0.035em;
                text-transform: uppercase;
                margin: 0 0 18px 0;
            }
            .title_for_field{
                font-size: 15px;
                color: #000;
                font-weight: 500;
                margin: 0 0 10px 0;
            }
            #count_members{
                width: 50px;
                height: 30px;
                font-size: 16px;
                border-radius: 3px;
                border: 1px solid #b3bbc3;
                padding-top: 2px;
                margin: 0 0 20px 0;
                #count_members_input{
                    width: 47px;
                    height: 26px;
                    font-size: 16px;
                    border: none;
                }
            }

            form{
                #type_ladging_select{

                    height: 30px;
                    border-radius: 3px;
                    padding: 0 14px 0 0;

                    -webkit-appearance: none;

                    background-image: url('/d/i/select-arrow.png');
                    background-position: right center;
                    background-repeat: no-repeat;

                    line-height: 1em;
                    -moz-appearance: none;
                    text-indent: 0.01px;
                    text-overflow: '';
                    -ms-appearance: none;
                    appearance: none!important;

                }

                #type_ladging_select::-ms-expand {
                    display: none;
                }
            }
            .button_green_mini_get_price{
                color: #fff;
                margin: 10px 0 10px 0;
                a{
                    text-decoration: none !important;
                }
            }


        }

        #review_form{
            display: none;
            margin: 31px 0 30px 0;
            #review_form_errors{
                font-size: 13px;
                color: #f00;
            }
            #review_form_annotation{
                display: block;
                color: #ccc;
                font-size: 13px;
                margin: 0 0 10px 0;
            }

            .title_for_field{
                font-size: 15px;
                color: #000;
                font-weight: 600;
                text-transform: uppercase;
                margin: 0 0 15px 0;
            }
            #review_new_name, #review_new_email{
                width: 300px;
                height: 30px;
                font-size: 16px;
                border-radius: 3px;
                border: 1px solid #b3bbc3;
                padding-top: 2px;
                margin: 0 0 30px 0;
                #review_new_name_input, #review_new_email_input{
                    width: 297px;
                    height: 26px;
                    font-size: 16px;
                    border: none;
                }
            }

            #review_new_collect{
                width: 640px;
                height: 30px;
                font-size: 16px;
                border-radius: 3px;
                border: 1px solid #b3bbc3;
                padding-top: 2px;
                margin: 0 0 30px 0;
                #review_new_collect_input{
                    width: 637px;
                    height: 26px;
                    font-size: 16px;
                    border: none;
                }
            }

            #review_new_text{
                float: left;
                margin-right: 15px;
                width: 640px;
                height: 104px;
                font-size: 16px;
                border-radius: 3px;
                border: 1px solid #b3bbc3;
                padding-top: 2px;
                #review_new_text_input{
                    width: 635px;
                    height: 97px;
                    font-size: 16px;
                    border: none;
                }
            }
            #review_new_submit{
                margin: 68px 0 0 0;
            }
        }

        .fest_reviews_table{
            border-top: 1px solid #e5e5e5;
            margin: 36px 0 0 0;
            .fest_reviews_table_tr_head{
                font-size: 14px;
                font-family: Arial;
                td{
                    border: none !important;
                    padding: 20px 0 18px 0;
                    color: @color-fest-reviews-head-date;
                }
                td div.fest_reviews_table_tr_head_name{
                    float: left;
                    margin: 0px 2px 0 0;
                    font-weight: bold;
                    color: @color-fest-reviews-head-name;
                }
            }
            .fest_reviews_table_tr_content{
                td{
                    border: none !important;
                    border-bottom: 1px solid #e5e5e5;
                    padding: 0 0 25px 0;

                    /* Форма для комментирования отзывов */

                    .ch_review_form{
                        display: none;
                        margin: 31px 0 30px 0;
                        border: 0px solid red;
                        .title_for_field{
                            font-size: 14px;
                            color: #000;
                            font-weight: 600;
                            text-transform: uppercase;
                            margin: 0 0 7px 0;
                        }
                        .review_new_name{
                            width: 300px;
                            height: 25px;
                            font-size: 14px;
                            border-radius: 3px;
                            border: 1px solid #b3bbc3;
                            padding-top: 2px;
                            margin: 0 0 10px 0;
                            .review_new_name_input{
                                width: 297px;
                                height: 22px;
                                font-size: 14px;
                                border: none;
                            }
                        }
                        .review_new_text{
                            float: left;
                            margin-right: 15px;
                            width: 640px;
                            height: 104px;
                            font-size: 16px;
                            border-radius: 3px;
                            border: 1px solid #b3bbc3;
                            padding-top: 2px;
                            .review_new_text_input{
                                width: 635px;
                                height: 97px;
                                font-size: 16px;
                                border: none;
                            }
                        }
                        .review_new_submit{
                            margin: 68px 0 0 0;
                        }
                    }

                    .review_comment{

                        margin: 0 0 0 30px;
                        .review_comment_name{
                            float: left;
                            margin: 2px 17px 0 0;
                            font-weight: 600;
                            color: #797979;
                            font-size: 14px;
                        }
                        .review_comment_date{
                            color: #797979;
                            font-size: 14px;
                        }
                    }
                }
            }

            .parent_hidden{
                display: none;
            }
        }
        #link_parents_reviews{
            cursor: pointer;
        }
    }

    .footer_event{
        width: 1017px;
        margin: 50px auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        #vk_comments{
            margin: 0 0 50px 0;
        }

        .footer_event_left{
            height: 340px;
            border: 0px solid red;
            margin: 0 0 0 8px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .phones_email{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 550px;
                .phones{
                    padding: 0 0 0 64px;
                    background: url(/d/i/event_footer_phone.png) no-repeat;
                    font-size: 24px;
                    font-weight: bold;
                    line-height: 1.6em;

                    display: flex;
                    flex-direction: column;
                    width: 255px;

                    .recallme{
                        display: inline-block;
                        background: #fff;
                        border: 1px solid #2D910E;
                        border-radius: 2px;
                        padding: 4px 0;
                        width: 210px;
                        text-align: center;
                        cursor: pointer;
                        margin: 7px 0 0 0px;
                        font-size: 18px;
                    }
                }
                .email{
                    padding: 9px 0 0 64px;
                    background: url(/d/i/event_footer_email.png) no-repeat;
                    font-size: 20px;
                    text-decoration: underline;
                    width: 170px;
                    a{
                        color: #000;
                    }
                }
            }

            .subscribe{
                border-top: 1px solid #e2e2e2;
                padding: 40px 0 0 0;
                font-size: 19px;
                font-weight: bold;
                .in{
                    margin: 23px 0 0 0;
                    background: #0bb82b;
                    border-radius: 2px;
                    padding: 0 0 0 3px;
                    height: 43px;
                    box-sizing: border-box;
                    display: -webkit-flex;
                    display: -moz-flex;
                    display: -ms-flex;
                    display: -o-flex;
                    display: flex;
                    align-items: center;
                    input{
                        height: 37px;
                        width: 390px;
                        font-size: 18px;
                        border: none;
                        padding: 0 0 0 13px;
                    }
                    button{
                        background: #0bb82b;
                        border: none;
                        width: 132px;
                        height: 37px;
                        color: #fff;
                        font-size: 17px;
                        cursor: pointer;
                    }
                }
            }
        }

        .footer_event_right{
            width: 400px;
            border: 0px solid blue;
            .social_up{
                display: flex;
                align-items: center;
                justify-content: space-between;
                span{
                    font-size: 19px;
                    font-weight: bold;
                }
            }
            .soc_blocks{
                .links{
                    margin: 22px 0 12px 0;
                    a{
                        font-size: 14px;
                        color: #333;
                        border-bottom: 1px dotted #333;
                        cursor: pointer;
                    }
                    .active{
                        color: #5c7fa7;
                        font-weight: bold;
                        border-bottom: none;
                    }
                    a{
                        margin: 0 10px 0 0;
                        &:last-child{
                            margin-right:0;
                        }
                    }
                }
                .blocks{
                    .fb-page{
                        display: none;
                    }
                    #ok_group_widget{
                        display: none;
                    }
                }
            }
        }
    }



}

.similar_events{
    margin: 55px 0 0px 0;
    padding: 50px 0 80px 0;
    width: 100%;
    background-color: @color-fest-why-we-are-bg;


    .why_we_are_block{
        position: relative;
        margin: 0px auto;
        border: 0px solid red;
        width: 887px;
        height: 200px;

        .why_we_are_title{
            border: 0px solid blue;
            background: @color-fest-why-we-are-bg;
            position: relative;
            display: inline-block;
            margin: -10px 0 0 260px;
            padding: 0 30px;
            text-align: center;
            font-size: 27px;
            font-weight: 500;
            letter-spacing: 0.115em;
            cursor: pointer;
        }



        .why_we_are_title_bul{
            position: absolute;
            cursor: pointer;
            right: 4px;
            top: 12px;
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid #08ae27;

            -moz-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            transform: rotate(0deg);

            -moz-transition: all .4s;
            -webkit-transition: all .4s;
            -o-transition: all .4s;
            transition: all .4s;
        }
        .why_we_are_title_bul_hidden{
            position: absolute;
            cursor: pointer;
            right: 4px;
            top: 12px;
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid #08ae27;


            -moz-transform: rotate(-90deg);
            -webkit-transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
            transition-duration:.4s;
        }

        .why_we_are{
            overflow: hidden;
            margin: -18px auto;
            padding: 20px 0 60px 0;
            width: 887px;
            height: 110px;
            border: 2px solid #0ab82b;
            border-bottom: 2px solid #0ab82b;
            .why_we_are_items{
                width: 850px;
                margin: 30px auto;
                border: 0px solid red;
                .why_we_are_item{
                    float: left;
                    width: 33%;
                    border: 0px solid blue;
                    .why_we_are_item_title{
                        margin: 0 0 15px 0;
                        text-align: center;
                        font-size: 19px;
                        font-weight: bold;
                        letter-spacing: 0.038em;
                        color: @color-why-we-are-item-title;
                    }
                    .why_we_are_item_content{
                        text-align: center;
                        padding: 0 15px;
                        font-size: 14px;
                        letter-spacing: 0.001em;
                        line-height: 1.5em;
                    }
                }
            }
        }
    }


    .similar_events_title{
        width: 100%;
        text-align: center;
        font-size: 30px;
        font-weight: 500;
        letter-spacing: 0.2em;
        margin-top: 26px;
    }

    .similar_events_slider{
        width: 981px;
        height: 297px;
        margin: 28px auto 0;
        border: 0px solid red;
        position: relative;
    }
    .similar_events_slider_button{
        position: absolute;
        width: 27px;
        height: 28px;
        float: left;
        top: 135px;
        border: 0px solid green;
        &:hover{
            cursor: pointer;
        }
    }

    .slider_button_right{background: url(/d/i/slider_arrow_right.png); right: 0; margin: 0 0 0 18px;}
    .slider_button_right_forbidden{background: url(/d/i/slider_arrow_right_forbidden.png); right: 0; margin: 0 0 0 18px;}

    .slider_button_left{background: url(/d/i/slider_arrow_left.png); margin: 0 18px 0 0;}
    .slider_button_left_forbidden{background: url(/d/i/slider_arrow_left_forbidden.png); margin: 0 18px 0 0;}


    .similar_events_slider_item{
        display: none;
        float: left;
        position: absolute;
        left: 45px;
        width: 885px;
        height: 293px;
        border: 0px solid #000;
        background: #fff;
        padding: 0;




        .similar_events_slider_item_photo_dates_locations{
            position: relative;
            border: 0px solid red;
            width: 232px;
            height: 293px;
            margin: 0 30px 0px 0;
            float: left;
            .similar_events_slider_item_photo_dates_locations_head{
                //z-index: 10;
                position: absolute;
                width: 184px;
                background: #0ab82b;
                min-height: 60px;
                padding: 9px 24px 19px 24px;
                .similar_events_slider_item_photo_dates_locations_head_dates{
                    color: #fff;
                    font-size: 15px;
                    font-weight: 500;
                    text-transform: uppercase;
                    margin: 0 0 7px 0;
                    .fest_content_photo_dates_locations_head_dates_day{
                        font-size: 25px;
                        font-weight: 500;
                    }
                }
                .similar_events_slider_item_photo_dates_locations_head_location{
                    position: relative;
                    margin: 0 0 4px -3px;
                    border: 0px solid red;
                    padding: 0 0 0 20px;
                    font-weight: 600;
                    text-transform: uppercase;
                    text-decoration: underline;
                    .similar_events_slider_item_photo_dates_locations_head_location_tomap{
                        position: absolute;
                        left: 0;
                        margin: 1px 0 0 0;
                    }
                    .similar_events_slider_item_photo_dates_locations_head_location_flag{
                        margin: 0 0 0 8px;
                    }
                }
            }
            #similar_events_slider_item_photo_dates_locations_img{
                position: relative;
                margin: 96px 0 0 0;
                width: 232px; height: 197px;
            }

            #similar_events_slider_item_photo_dates_locations_types_event{
                position: absolute;
                bottom: 40px;
                left: -20px;
                margin: 25px 0 0 0;
                font-size: 14px;
                letter-spacing: 0.02em;
                font-weight: 200;
                color: #fff;
            }
            .similar_events_slider_item_photo_dates_locations_types_event_items{
                display:inline-block;
                margin: 0;
                padding: 3px 8px;
                font-size: 13px;
                letter-spacing: 0.06em;
                font-weight: 200;
                color: #fff;
            }
            .e_fest{background-color: @color-type-event-fest;}
            .e_konk{background-color: @color-type-event-konk;}
            .e_mastkl{background-color: @color-type-event-mastkl;}
            .e_kanik{background-color: @color-type-event-kanik;}

        }

        .similar_events_slider_item_content{
            position: relative;
            //left: -254px;
            width: 630px;
            border: 0px solid blue;
            margin: 29px 0 0 0;
            padding: 0 0 0 250px;

            #similar_events_slider_item_content_fav_quest{
                float: right;
                /*width: 54px;*/
                height: 24px;
                padding: 0;
                border: 0px solid red;
                margin: -23px 7px 0 0;
                img:hover{
                    cursor: pointer;
                }
                .fav_btn{
                    position: relative;
                    top: -2px;
                    margin: 0 7px 0 0;
                    cursor: pointer;
                }
            }

            .similar_events_slider_item_content_name{
                border: 0px solid red;
                width: 600px;
                margin: 16px 0 20px 0;
                padding: 0 30px 0 0;
                a{
                    font-family: "Roboto";
                    font-size: 18px;
                    font-weight: 300;
                    letter-spacing: 0.01em;
                    line-height: 1.5em;
                    color: @color-fest-description-tabs-a;
                    //text-decoration: none;
                }

            }
            .categories_event{
                color: @color-cats-event;
                font-size: 12px;
                margin: 6px 0 0 0;
                letter-spacing: 0.03em;
            }
            .similar_events_slider_item_content_short_info_right_more{
                float: left;
                border: 0px solid red;
                min-width: 585px;
                margin: 23px 0 0 0px;
                padding: 10px 0 0 8px;
                background-color: #eceff1;
                font-size: 13px;




                .similar_events_slider_item_content_short_info_right_more_min_price{
                    border: 0px solid red;
                    padding: 3px 29px 12px 20px;
                    float: left;

                    position: relative;
                    .similar_events_slider_item_content_short_info_right_more_min_price_text{
                        border-bottom: 1px dotted #000;
                        &:hover{
                            border-bottom: 1px dotted @color-fest-content-short-info;
                            cursor: default;
                        }
                    }


                }


                .similar_events_slider_item_content_short_info_right_more_ages{
                    border: 0px solid red;
                    padding: 3px 15px 12px 20px;
                    float: left;
                    background: url(/d/i/ages.png) no-repeat 0 0px;

                    position: relative;
                    .similar_events_slider_item_content_short_info_right_more_ages_text{
                        border-bottom: 1px dotted #000;
                        &:hover{
                            border-bottom: 1px dotted @color-fest-content-short-info;
                            cursor: default;
                        }
                    }


                }

                .similar_events_slider_item_content_short_info_right_more_date_end_priem{
                    padding: 3px 22px 12px 16px;
                    background: url(/d/i/order.png) no-repeat 0px 4px;
                    float: left;
                    letter-spacing: 0.012em;
                    span{
                        font-weight: 700;
                    }
                }
            }
        }
    }
}

#also_recom{
    margin: 23px auto 0px;
    width: 889px;
    .title{
        font-size: 19px;
        display: block;
    }
    a{
        line-height: 1.4em;
        color: #3956AC;
    }
}

.baner_block_under_similar{
    margin: 23px auto 0px;
    width: 889px;
    height: 100px;
    .baner_block_under_similar_item{
        float: left;
        width: 430px;
        height: 100px;
    }
    #baner_block_under_similar_item_left{
        margin: 0 26px 0 0;
    }
}

ul.green_ul{
    list-style-image: url('/d/i/bul.png');
    margin-left: 30px;
    padding-left: 0px;
    li{
        font-size: 14px;
        margin: 0 2px 5px 0;
        padding: 0;
        letter-spacing: 0.031em;
        font-family: Arial;
    }
}

.annotation_green_border{
    margin: 10px 0 39px 0;
    width: 100%;
    border: 2px solid @color-button-light-green;
    p{
        margin: 23px 29px 21px 29px;
        font-size: 15px;
        font-family: Arial;
        line-height: 1.5em;
    }
}

.annotation_green_border_hidden{
    display: none;
}


.button_green{
    display: block;
    float: left;
    cursor: pointer;
    border-radius: 3px;
    text-decoration: none !important;
    color: #fff;
    padding: 0px 0px 3px 0px;
    font-size: 18px;
    font-weight: 300;
    font-family: "Roboto";
    letter-spacing: 0.053em;
    background-color: @color-button-dark-green;
    div{
        color: #fff;
        border-radius: 3px;
        padding: 7px 20px 11px 20px;
        background-color: @color-button-light-green;
    }
    &:hover{
        background: none;
        padding: 3px 0px 0px 0px;
    }
}


.button_dark_blue{
    display: block;
    float: left;
    border-radius: 3px;
    text-decoration: none;
    color: #fff;
    padding: 0px 0px 4px 0px;
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 0.053em;
    background-color: #2c446a;
    div{
        border-radius: 3px;
        padding: 7px 20px 11px 20px;
        background-color: #3b5c90;
    }
    &:hover{
        background: none;
        padding: 4px 0px 0px 0px;
    }
}

.button_dark_blue_mini{
    display: block;
    float: left;
    border-radius: 3px;
    text-decoration: none;
    color: #fff;
    padding: 0px 0px 3px 0px;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 0.053em;
    background-color: #2c446a;
    div{
        border-radius: 3px;
        padding: 4px 11px 6px 11px;
        background-color: #3b5c90;
    }
    &:hover{
        background: none;
        padding: 3px 0px 0px 0px;
    }
}

.button_dark_blue_mini_similar{
    display: block;
    float: left;
    border-radius: 3px;
    text-decoration: none;
    color: #fff;
    padding: 0px 0px 3px 0px;
    margin: 19px 0 0 -1px;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 0.015em;
    background-color: #2c446a;
    div{
        border-radius: 3px;
        padding: 4px 11px 6px 11px;
        background-color: #3b5c90;
    }
    &:hover{
        background-color: #fff;
        padding: 3px 0px 0px 0px;
    }
}

.button_green2{
    background-color: @color-button-dark-green2;
    div{
        background-color: @color-button-light-green2;
    }
}

.button_green2_transparent{
    display: inline-block;
    border-radius: 3px;
    text-decoration: none;
    color: #fff;
    padding: 0px 0px 4px 0px;
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 0.053em;
    background-color: @color-button-dark-green;
    div{
        border-radius: 3px;
        padding: 7px 20px 11px 20px;
        background-color: @color-button-light-green;
    }
    &:hover{
        background: none;
        padding: 4px 0px 0px 0px;
    }
}
.button_green_selected{
    display: block;
    cursor: pointer;
    float: left;
    border-radius: 3px;
    text-decoration: none !important;
    color: #fff;
    padding: 4px 0 0 0;
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 0.053em;
    background-color: #fff;
    div{
        border-radius: 3px;
        padding: 7px 20px 11px 20px;
        background-color: #bbc7cf;
    }
}


.button_green_hidden{
    display: none;
}

.button_green_mini_similar_hidden{
    display: none;
}

.button_green_mini_similar{
    display: block;
    float: left;
    border-radius: 3px;
    text-decoration: none;
    color: #fff;
    padding: 0px 0px 3px 0px;
    margin: 19px 0 0 -1px;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 0.015em;
    background-color: @color-button-dark-green;
    div{
        border-radius: 3px;
        padding: 4px 11px 6px 11px;
        background-color: @color-button-light-green;
    }
    &:hover{
        background: none;
        padding: 3px 0px 0px 0px;
    }
}

.button_green_mini_fest_list{
    display: block;
    float: right;
    border-radius: 3px;
    text-decoration: none;
    color: #fff;
    padding: 0px 0px 3px 0px;
    margin: 0px 0 0 -1px;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 0.025em;
    background-color: @color-button-dark-green;
    div{
        border-radius: 3px;
        padding: 10px 16px 9px 16px;
        background-color: @color-button-light-green;
    }
    &:hover{
        background: none;
        padding: 3px 0px 0px 0px;
    }
}

.button_grey_mini_fest_list{
    display: block;
    float: right;
    border-radius: 3px;
    text-decoration: none;
    color: #fff;
    padding: 0px 0px 3px 0px;
    margin: 0px 0 0 9px;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 0.025em;
    background-color: #a2afb9;
    div{
        border-radius: 3px;
        padding: 10px 16px 9px 16px;
        background-color: #bac4cb;
    }
    &:hover{
        background: none;
        padding: 3px 0px 0px 0px;
    }
}

.button_green_mini_popup{
    display: block;
    float: left;
    border-radius: 3px;
    text-decoration: none;
    color: #fff;
    padding: 0px 0px 3px 0px;
    margin: 0px 0 0 0;
    font-size: 15px;
    font-weight: 200;
    letter-spacing: 0.035em;
    background-color: @color-button-dark-green;
    div{
        border-radius: 3px;
        padding: 5px 11px 7px 11px;
        background-color: @color-button-light-green;
    }
    &:hover{
        background-color: #fff;
        padding: 3px 0px 0px 0px;
    }
}

.button_green_mini_fest_list_hidden{
    display: none;
}

.button_green_mini_subscribe{
    border: 0px solid red;
    display: block;
    cursor: pointer;
    float: left;
    border-radius: 3px;
    text-decoration: none;
    color: #fff;
    padding: 0px 0px 3px 0px !important;
    width: 40px;
    margin: 0 0 0 4px;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 0.015em;
    background-color: @color-button-dark-green;
    div{
        width: 18px;
        margin: -1px 0 0 -3px;
        border-radius: 3px;
        padding: 3px 11px 4px 11px;
        background-color: @color-button-light-green;
    }
    &:hover{
        background: none;
        padding: 3px 0px 0px 0px !important;
    }
}

#btn_adding_review{
    color: #fff;
    margin: 20px 0 0 0;
}
.button_green_mini_review, .button_green_mini_get_price{
    display: block;
    float: left;
    border-radius: 3px;
    text-decoration: none !important;
    color: #fff;
    padding: 0px 0px 3px 0px;
    margin: 19px 0 0 -1px;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 0.015em;
    background-color: @color-button-dark-green;
    cursor: pointer;
    div{
        border-radius: 3px;
        padding: 4px 11px 6px 11px;
        background-color: @color-button-light-green;
    }
    &:hover{
        background-color: #fff;
        padding: 3px 0px 0px 0px;
    }
}

.button_green_global{
    display: inline-block;
    border-radius: 3px;
    text-decoration: none !important;
    text-align: center;

    padding: 11px 15px 11px 15px !important;
    margin: 0 20px 10px;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 0.025em;
    color: #fff !important;

    background-color: #0ab82b;

    -webkit-box-shadow: 0px 3px 0px 0px rgba(30, 146, 52, 1);
    -moz-box-shadow:    0px 3px 0px 0px rgba(30, 146, 52, 1);
    box-shadow:         0px 3px 0px 0px rgba(30, 146, 52, 1);

    &:hover{
        -webkit-box-shadow: 0px -3px 0px 0px rgba(30, 146, 52, 0);
        -moz-box-shadow:    0px -3px 0px 0px rgba(30, 146, 52, 0);
        box-shadow:         0px -3px 0px 0px rgba(30, 146, 52, 0);

        top: 3px;
        position: relative;
    }
}


.button_green_global_2rows{
    display: inline-block;
    border-radius: 3px;
    text-decoration: none !important;
    text-align: center;

    padding: 0px 15px 3px 15px !important;
    margin: 0 20px 10px;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 0.025em;
    color: #fff !important;

    background-color: #0ab82b;

    -webkit-box-shadow: 0px 3px 0px 0px rgba(30, 146, 52, 1);
    -moz-box-shadow:    0px 3px 0px 0px rgba(30, 146, 52, 1);
    box-shadow:         0px 3px 0px 0px rgba(30, 146, 52, 1);

    &:hover{
        -webkit-box-shadow: 0px -3px 0px 0px rgba(30, 146, 52, 0);
        -moz-box-shadow:    0px -3px 0px 0px rgba(30, 146, 52, 0);
        box-shadow:         0px -3px 0px 0px rgba(30, 146, 52, 0);

        top: 3px;
        position: relative;
    }
}


#toup{
    position: fixed;
    z-index: 999;
    bottom: 10px;
    left: 50%;
    border: 2px solid #888;
    color: #555;
    cursor: pointer;
    border-radius: 5px;
    background-color: #fff;
    padding: 7px 20px;
    display: none;
}

#show_more{
    text-transform: uppercase;
    color: #2c4d99;
    border: 0px solid red;
    text-align: center;
    padding: 10px 0;
    &:hover{
        background-color: #f3f6fc;
        cursor: pointer;
    }
}

#block_not_found{
    border: 0px solid red;
    position: relative;
    width: 900px;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
}

/* Полосы прокрутки */

.jspContainer{overflow:hidden;position:relative;}
.jspPane{position:absolute;}
/* Вертикальная полоса прокрутки */
.jspVerticalBar{height:100%;position:absolute;right:0;top:0;width:5px;z-index:2;}
/* Горизонтальная полоса прокрутки */
.jspHorizontalBar{bottom:0;height:5px;left:0;position:absolute;width:100%;}
.jspVerticalBar *,.jspHorizontalBar *{margin:0;padding:0;}
.jspCap{display:none;}
.jspHorizontalBar .jspCap{float:left;}
/* Полоска, по которой бегает ползунок */
.jspTrack{background:#eee;position:relative;border-radius:5px;}
/* Непосредственно, сам ползунок */
.jspDrag{background:#aaa;cursor:pointer;left:0;position:relative;top:0;border-radius:5px;}
.jspDrag:hover {background:#999;}
.jspHorizontalBar .jspTrack,.jspHorizontalBar .jspDrag{float:left;height:100%;}
/* Стрелки для прокрутки */
.jspArrow{background:#999;cursor:pointer;display:block;text-indent:-20000px;}
/* Неактивные стрелки для прокрутки */
.jspArrow.jspDisabled{background:#aaa;cursor:default;}
/* Дополнительные стили для вертикальных и горизонтальных стрелок */
.jspVerticalBar .jspArrow{height:16px;}
.jspHorizontalBar .jspArrow{float:left;height:100%;width:5px;}
.jspVerticalBar .jspArrow:focus{outline:none;}
/* Уголок, где сходятся вертикальная и горизонтальная полосы прокрутки */
.jspCorner{float:left;height:100%;}
* html .jspCorner{margin:0 -3px 0 0;}

/* Партнерам */

h1.partner{
    font-size: 26px !important;
    color: #3b5c91 !important;
    font-weight: 400 !important;
}

.partner_tbl{
    width: 100%;
    tbody{

        tr.simple{
            th{
                background: #5675a4;
                color: #fff;
                font-size: 17px;
                font-weight: 400;
                letter-spacing: -0.02em;
                &:nth-child(5){
                    border-right: 1px solid #879fc3;
                }
            }
            .tac{
                text-align: center;
            }
            .tal{
                text-align: left;
            }
            .border-r{
                border-right: 1px solid #879fc3;
            }
            .super{
                background: #addbb7;
                border-bottom: 1px solid #c1e3c8;
            }
            .w352{
                padding: 9px 0 14px 23px;
                width: 352px;
            }

            td{

                &:nth-child(1){
                    padding: 10px 0 11px 20px !important;
                    border-left: 1px solid #879fc3;
                }
                &:nth-child(1), &:nth-child(2), &:nth-child(5){
                    border-right: 1px solid #879fc3;
                }

                &:nth-child(4){
                    background: #addbb7;
                    border-bottom: 1px solid #c1e3c8;
                }
                &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5){
                    text-align: center;
                    padding: 10px 0 11px 0 !important;
                }

            }

            &:nth-child(2n+1){
                background: #f1f5f8;
            }

            &:nth-last-child(1){
                td{
                    border-bottom: 1px solid #879fc3;
                }
            }
        }

        .tbl_partner_footer td{
            padding: 21px 0 24px 21px !important;
            background: #5675a4;
            color: #fff;
            font-size: 17px;
            font-weight: 400;
            letter-spacing: -0.02em;

            &:nth-child(1), &:nth-child(2){
                border-right: 1px solid #879fc3;
            }



            &:nth-child(5){
                border-right: 1px solid #879fc3;
            }
            &:nth-child(4){
                border-bottom: 0px solid #addbb7;;
                background: #addbb7;
            }

        }
    }
}

.partner_tbl_extra{
    width: 100%;
    tbody{

        tr{
            td{
                border-right: 1px solid #879fc3;
                &:nth-child(1){
                    width: 350px;
                    padding: 10px 0 11px 20px !important;
                    border-left: 1px solid #879fc3;
                }
                &:nth-child(1){
                    padding: 10px 0 11px 20px !important;

                }

            }

            &:nth-child(2n+1){
                background: #f1f5f8;
            }

            &:nth-child(1){
                td{
                    border-top: 1px solid #879fc3;
                }
            }
            &:nth-last-child(1){
                td{
                    border-bottom: 1px solid #879fc3;
                }
            }
        }
    }
}



.st_vkontakte{
    span{
        width: 30px !important;
        height: 30px !important;
        .vkontakte{
            background-image: url("/d/i/vk.png");
        }
    }
}

.st_facebook{
    span{
        width: 30px !important;
        height: 30px !important;
        .facebook{
            background-image: url("/d/i/fb.png");
        }
    }
}

.st_twitter{
    span{
        width: 30px !important;
        height: 30px !important;
        .twitter{
            background-image: url("/d/i/tw.png");
        }
    }
}

.st_googleplus{
    span{
        width: 30px !important;
        height: 30px !important;
        .googleplus{
            background-image: url("/d/i/gp.png");
        }
    }
}

.st_odnoklassniki{
    span{
        width: 30px !important;
        height: 30px !important;
        .odnoklassniki{
            background-image: url("/d/i/ok.png");
        }
    }
}

.st_mail_ru{
    span{
        width: 30px !important;
        height: 30px !important;
        .mail_ru{
            background-image: url("/d/i/mail.png");
        }
    }
}

.st_livejournal{
    span{
        width: 30px !important;
        height: 30px !important;
        .livejournal{
            background-image: url("/d/i/lj.png");
        }
    }
}

.st_linkedin{
    span{
        width: 30px !important;
        height: 30px !important;
        .linkedin{
            background-image: url("/d/i/in.png");
        }
    }
}

/* страница отзывов глобальная == форма добавления */

#review_form{
    display: block;
    margin: 31px 0 30px 0;
    #review_form_errors{
        font-size: 13px;
        color: #f00;
    }
    #review_form_annotation{
        display: block;
        color: #ccc;
        font-size: 13px;
        margin: 0 0 10px 0;
    }

    .title_for_field{
        font-size: 15px;
        color: #000;
        font-weight: 600;
        text-transform: uppercase;
        margin: 0 0 15px 0;
    }
    #review_new_name, #review_new_email{
        width: 300px;
        height: 30px;
        font-size: 16px;
        border-radius: 3px;
        border: 1px solid #b3bbc3;
        padding-top: 2px;
        margin: 0 0 30px 0;
        #review_new_name_input, #review_new_email_input{
            width: 297px;
            height: 26px;
            font-size: 16px;
            border: none;
        }
    }

    #review_new_collect{
        width: 640px;
        height: 30px;
        font-size: 16px;
        border-radius: 3px;
        border: 1px solid #b3bbc3;
        padding-top: 2px;
        margin: 0 0 30px 0;
        #review_new_collect_input{
            width: 637px;
            height: 26px;
            font-size: 16px;
            border: none;
        }
    }

    #review_new_event{
        width: 640px;
        height: 30px;
        font-size: 16px;
        border-radius: 3px;
        border: 1px solid #b3bbc3;
        padding-top: 2px;
        margin: 0 0 30px 0;
        #review_new_event_input{
            width: 637px;
            height: 26px;
            font-size: 16px;
            border: none;
        }
    }

    #review_new_text{
        float: left;
        margin-right: 15px;
        width: 640px;
        height: 104px;
        font-size: 16px;
        border-radius: 3px;
        border: 1px solid #b3bbc3;
        padding-top: 2px;
        #review_new_text_input{
            width: 635px;
            height: 97px;
            font-size: 16px;
            border: none;
        }
    }
    #review_new_submit{
        margin: 68px 0 0 0;
    }
}

/* Форма на 404 */


.find_event_for_you{
    width: 500px;
    position: relative;
    padding: 20px 0;
    margin: 0 auto;

    .popup_window_inner_close{
        display: none;
    }

    .popup_window_inner_title{
        text-align: center;
        text-transform: uppercase;
        font-size: 27px;
        font-weight: 700;
        letter-spacing: 0.005em;
        margin: 0 0 25px 0;
        line-height: 39px;
    }

    .popup_window_inner_warning{
        font-size: 13px;
        letter-spacing: -0.01em;
        color: #787878;
        margin: 9px 0 26px 0;
    }

    .popup_window_inner_field {
        .popup_window_inner_field_inputtext {
            float: left;
            clear: both;
            margin: 0 0 18px 0;

            .popup_input_text{
                padding: 0 0 0 4px;
                height: 32px;
                background: none;
                font-size: 14px;
                color: #444;
                border: 1px solid #b3bbc3;
                border-radius: 3px;
            }

            #popup_help_email2 {
                width: 293px;
                margin-right: 26px;
            }
            #popup_help_phone2 {
                width: 293px;
                margin-right: 26px;
            }
            #popup_help_name2 {
                width: 437px;
                margin-right: 26px;
            }
        }
        #popup_help_call_btn, #popup_help_email_btn{
            width: 118px;
            cursor: pointer;
            color: #fff;
            text-decoration: none;
        }
    }
    .popup_window_inner_big_field{
        border-radius: 3px;
        border: 1px solid #ccc;
        height: 126px;
        margin-top: 10px;
        padding: 5px 5px 10px 5px;
        text-align: center;
        font-size: 14px;
        color: #333;
        line-height: 28px;

        #popup_help_self_call_btn{
            width: 100%;
            font-size: 18px;
            font-weight: 400;
            margin: 0 0 16px 0;
            div{
                text-align: center;
                padding: 7px 11px 7px 11px;
            }
            &:hover{
                background-color: #fff;
                padding: 3px 0px 0px 0px;
            }
        }
    }
    .popup_window_inner_field_note, #message_help{
        padding: 15px 0 0 0;
        text-align: center;
        font-size: 15px;
        color: #676767;
        line-height: 27px;
    }
    .popup_window_inner_close{
        top: -7px;
        right: -13px;
    }
}
