#main_page_big_renab_block{
    display: block;
    position: relative;
    border: 0px solid red;
    width: 1260px;
    height: 448px;

    @media (max-width: @tablet) {
      width: 100%;
    }
}

#main_page_big_renab_0{
    display: block;
}

.main_page_big_renab{
    display: none;
    position: absolute;
    border: 0px solid red;
    width: 1260px;
    height: 448px;
    margin: 0;
    background: url('@{img-src}main_page_slider.png');
    text-align: center;

    @media (max-width: @tablet) {
      width: 100%;
    }

    .main_page_big_renab_info{
        border-radius: 3px;
        display: inline-block;
        text-align: center;
        padding: 40px 60px;
        margin-top: 53px;
        max-width: 800px;
        background-color: rgba(255, 255, 255, 0.8);

        @media (max-width: @tablet) {
          max-width: 525px;
          box-sizing: border-box;
        }

        @media (max-width: @tablet) {
          width: 400px;
          padding: 30px;
        }

        .main_page_big_renab_info_name{
            text-transform: uppercase;
            font-weight: 600;
            font-size: 32px;
            color: #3b5c90;

            @media (max-width: @tablet) {
              font-size: 29px;
            }
            @media (max-width: @mobile) {
              font-size: 25px;
            }
        }

        .main_page_big_renab_info_place{
            font-weight: 200;
            font-size: 20px;
            color: #000;

            @media (max-width: @tablet) {
              font-size: 19px;
            }
            @media (max-width: @mobile) {
              font-size: 17px;
            }
        }
    }

    .main_page_big_renab_btn_left, .main_page_big_renab_btn_right{
        position: absolute;
        cursor: pointer;
        top: 90px;
        width: 0px;
        height: 0px;



        background-size: cover;
        opacity: 0.7;
        &:hover{
            opacity: 0.9;
        }
    }

    .main_page_big_renab_btn_left{
        left: 40px;
        border-top: 100px solid transparent;
        border-bottom: 100px solid transparent;
        border-left: 40px solid transparent;
        border-right: 40px solid #fff;
        @media (max-width: @tablet) {
          left: 0;
        }
        @media (max-width: @mobile) {
          left: -21px;
          opacity: 1;
        }
    }

    .main_page_big_renab_btn_right{
        right: 40px;
        border-top: 100px solid transparent;
        border-bottom: 100px solid transparent;
        border-right: 40px solid transparent;
        border-left: 40px solid #fff;
        @media (max-width: @tablet) {
          right: 0;
        }
        @media (max-width: @mobile) {
          right: -21px;
          opacity: 1;
        }
    }
}

#main_page_big_renab_pages{
    position: absolute;
    margin: 436px 0 0 0;
    width: 100%;
    height: 12px;
    background: #3b5c90;

    @media (max-width: @tablet) {
      width: 70%;
      margin: 436px 15% 0;
    }

    .main_page_big_renab_pages_item {
        position: relative;
        cursor: pointer;
        top: 0px;
        float: left;
        width: 126px;
        height: 67px;
    }
}

#main_page_news{
    position: relative;
    width: 37%;
    float: left;
    border: 0px solid red;
    padding: 63px 0 0 0;
    margin: 0 0 0 11%;

    @media (max-width: @tablet) {
      width: 45.5%;
      margin: 0 3%;
    }

    @media (max-width: @mobile) {
      width: 94%;
      margin: 0 3%;
      padding-top: 30px;
    }

    #main_page_news_title{
        margin: 0 0 0 41px;
        text-align: left;
        color: #000;
        font-size: 25px;
        font-weight: 500;
        letter-spacing: .2em;
        padding: 0;
        z-index: 51;

        @media (max-width: @mobile) {
          margin: 0;
          text-align: center;
        }
    }

    .div_news_item{
        position: relative;
        padding: 20px 0 5px 0;
        margin: 0 0 0 41px;
        border: 0px solid blue;
        text-align: left;
        color: #a9b7c2;

        @media (max-width: @mobile) {
          margin: 0;
        }

        font-size: 15px;
        a{
            margin: 10px 0 0 0;
            color: #4764a7;
            text-decoration: none;
        }
    }

    .button_news{
        position: relative;
        margin: 30px 0 74px 41px;
        float: left;
        border-radius: 3px;
        text-decoration: none;
        color: #4764a7;
        padding: 0px 0px 2px 0px;
        background-color: #a9b7c2;

        @media (max-width: @mobile) {
          margin: 30px 0 74px;
        }

        @media (max-width: @mobile) {
          display: none;
        }

        div{
            font-family: 'Roboto', sans-serif;
            font-size: 13px;
            font-weight: 300;
            border-radius: 3px;
            letter-spacing: 0.0005em;
            padding: 4px 10px 8px 10px;
            background-color: #fff;
        }
        &:hover{
            background: none;
            padding: 2px 0px 0px 0px;
        }
    }
}

#main_page_about{
    position: relative;
    width: 39%;
    float: left;
    border: 0px solid red;
    padding: 63px 0 0 0;
    margin: 0 0 0 2%;

    @media (max-width: @tablet) {
      width: 45.5%;
      margin: 0 0 0 3%;
    }

    @media (max-width: @mobile) {
      width: 94%;
      margin: 0 3%;
      padding-top: 30px;
    }

    #main_page_about_title{
        margin: 0 0 20px 27px;
        text-align: left;
        color: #000;
        font-size: 25px;
        font-weight: 500;
        letter-spacing: .2em;
        padding: 0;
        z-index: 51;

        @media (max-width: @mobile) {
          margin: 0 0 20px 0;
          text-align: center;
        }
    }
    #main_page_about_inner{
        margin: 0 20px 0 27px;
        font-size: 14px;

        @media (max-width: @mobile) {
          margin: 0;
        }

        a{
            color: #0ecb20;
            text-decoration: underline;
        }

        p{
            display: block;
            clear: both;
            font-family: "Roboto";
            margin-bottom: 15px;
            letter-spacing: 0.004em;
            color: #000;
            font-size: 13px;
            line-height: 1.5em;
        }

        ul{
            list-style-image: url('@{img-src}bul2.png');
            margin: -8px 0 0 24px;
            padding-left: 0px;
        }

        ul li{
            font-size: 13px;
            margin: 0 2px 6px 0;
            padding: 0;
            letter-spacing: 0.004em;
            font-family: "Roboto";
        }


    }
}


.ending {
  background-color: #ebeff2;
  position: relative;
  width: 100%;
  padding: 35px 0 40px 0;

  &__background {
    position: absolute;
    top: 22px;
    left: 825px;
    width: 165px;
    height: 62px;

    @media (max-width: @tablet) {
      left: 40%;
    }
  }

  &__row {
    float: left;
    background-color: #b5eabf;
    border-radius:100%;
    z-index: 50;

    &_1{width: 62px; height: 62px;}
    &_2{width: 28px; height: 28px; margin: 17px 0 0 9px;}
    &_3{width: 18px; height: 18px; margin: 22px 0 0 8px;}
  }

  &__title {
    position: relative;
    left:50%;
    margin: 0 0 50px -298px;
    width: 610px;
    color: #000;
    border: 0px solid red;
    text-align: center;
    font-size: 29px;
    font-weight: 500;
    letter-spacing: .22em;
    padding: 0;
    z-index: 51;

    @media (max-width: @mobile) {
      width: auto;
      margin: 0;
      left: 0;
    }
  }

  &__content {
    width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;

    @media (max-width: @tablet) {
      width: 94%;
    }
  }

  &__more {
    width: 100%;
    background: #eceff1;
    text-align: center;
  }

  &__btn {
    display: inline-block;
    text-align: center;
    padding: 10px 24px;
    color: #3c75a0;
    font-size: 17px;
    letter-spacing: 0.01em;
    text-decoration: none;
    border: 2px solid #3c75a0;
    border-radius: 2px;
  }
}


#main_page_ending{

    #closing_events_block{
        .div_closing_item{
            width: 445px;
            border: 0px solid red;
            position: relative;
            padding: 0px 0 0 0;
            margin: 0 0 45px 0;

            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            @media (max-width: @tablet) {
              width: 100%;
              justify-content: flex-start;
            }

            .closing_item_photo{
                width: 96px;
                height: 96px;

                img{
                    width: 96px;
                    height: 96px;
                    border-radius: 100%;
                }
            }
            .closing_item_info{
                border: 0px solid red;
                width: 335px;
                margin: -5px 0 0 10px;

                @media (max-width: @tablet) {
                  width: auto;
                  margin-left: 20px;
                }

                .closing_item_info_priem{
                    margin: 0 0 5px 0;
                    .day{
                        font-size: 21px;
                        font-weight: bold;
                    }
                    .month{
                        color: #666a6d;
                    }
                }
                a{
                    display: block;
                    color: #3D5EAD;
                    text-decoration: none;
                    font-weight: bold;
                    line-height: 1.5em;
                    margin: 0 0 6px 0;
                }
                .closing_item_info_begin{
                    span{
                        color: #939496;
                    }
                }
            }
        }
    }
}



#main_page_popular_events{
    position: relative;
    border: 0px solid red;
    background: #364f76;
    padding: 41px 0 75px 0;

    @media (max-width: @tablet) {
      display: none;
    }

    #main_page_popular_events_title{
        position: relative;
        left:50%;
        margin: 0 0 40px -298px;
        width: 610px;
        color: #fff;
        border: 0px solid red;
        text-align: center;
        text-transform: uppercase;
        font-size: 29px;
        font-weight: 500;
        letter-spacing: .22em;
        padding: 0 0 0 0;
        z-index: 51;
    }
    #main_page_popular_events_content{
        border: 0px solid red;
        width: 898px;
        height: 269px;
        position: relative;
        margin: 0 auto;
        .main_page_popular_events_content_nav{
            float: left;
            width: 27px;
            height: 28px;
            margin: 120px 0 0 0;
            position: relative;
            cursor: pointer;
        }
        .main_page_popular_events_content_nav_next{
            float: right;
            width: 27px;
            height: 28px;
            margin: 120px 0 0 0;
            cursor: pointer;
        }


        .popular_prev{
            background: url('@{img-src}slider_arrow_left_forbidden.png');
            margin-right: 27px;
            &:hover{
                background: url('@{img-src}slider_arrow_left.png');
            }
        }
        .popular_next{
            background: url('@{img-src}slider_arrow_right_forbidden.png');
            margin-left: 27px;
            &:hover{
                background: url('@{img-src}slider_arrow_right.png');
            }
        }
        .main_page_popular_events_content_slide{
            display: none;
            width: 785px;
            height: 293px;
            position: absolute;
            left: 56px;
            float: left;
            border: 2px solid #536a8f;
            .main_page_popular_events_content_slide_photo{
                float: left;
                width: 313px;
                height: 293px;
            }
            .main_page_popular_events_content_slide_type_over_photo{
                position: absolute;
                left: 0; top: 0;
                width: 313px;
                height: 293px;
                border: 0px solid magenta;
                .main_page_popular_events_content_slide_photo_types_event{
                    display:inline-block;
                    margin: 0;
                    padding: 3px 8px;
                    font-size: 13px;
                    letter-spacing: 0.06em;
                    font-weight: 200;
                    color: #fff;
                }
                .e_fest{background-color: @color-type-event-fest;}
                .e_konk{background-color: @color-type-event-konk;}
                .e_mastkl{background-color: @color-type-event-mastkl;}
                .e_kanik{background-color: @color-type-event-kanik;}
            }
            .main_page_popular_events_content_slide_over_photo_link{
                display: block;
                position: absolute;
                left: 0; top: 0;
                width: 313px;
                height: 293px !important;
                border: 0px solid magenta;
            }
            .main_page_popular_events_content_slide_info{
                position: relative;
                float: left;
                height: 293px;
                width: 462px;
                border: 0px solid red;

                .main_page_popular_events_content_slide_info_inner{
                    border: 0px solid #fff;
                    position: absolute;
                    top: 50%;
                    left: 54px;
                    width: 404px;
                    -moz-transform: translate(0, -50%);
                    -webkit-transform: translate(0, -50%);
                    -o-transform: translate(0, -50%);
                    -ms-transform: translate(0, -50%);

                    .main_page_popular_events_content_slide_info_inner_head{
                        min-height: 60px;
                        .main_page_popular_events_content_slide_info_inner_head_date_begin_day{
                            position: absolute;
                            top: 0; left: 0;
                            width: 60px; height: 60px;
                            float: left;
                            margin: 0 10px 0 0;
                            .main_page_popular_events_content_slide_info_inner_head_date_begin_day_bg{
                                position: absolute;
                                width: 60px; height: 60px;
                                background: #08ae27;
                                border-radius: 100%;
                            }
                            .main_page_popular_events_content_slide_info_inner_head_date_begin_day_val{
                                position: absolute;
                                top: 10px;
                                left: 0px;
                                width: 60px; height: 60px;
                                text-align: center;
                                color: #fff;
                                font-size: 32px;
                                font-family: 'Roboto', sans-serif;
                                font-weight: 300;
                            }
                        }
                        .main_page_popular_events_content_slide_info_inner_head_date_begin_month{
                            position: relative;
                            margin: 5px 0 0 70px;
                            font-size: 20px;
                            font-weight: 600;
                            color: #fff;
                            text-transform: uppercase;
                        }
                        .main_page_popular_events_content_slide_info_inner_head_date_begin_place{
                            position: relative;
                            margin: 1px 0 0 70px;
                            font-size: 15px;
                            font-weight: 400;
                            color: #fff;
                            text-transform: uppercase;
                        }
                    }
                    .main_page_popular_events_content_slide_info_inner_other_info{
                        position: relative;
                        margin: 17px 0 0 0;
                        border: 0px solid red;
                        .main_page_popular_events_content_slide_info_inner_other_info_name{
                            margin: 0 0 5px 0;
                            a{
                                color: #fff;
                                font-size: 16px;
                                text-decoration: none;
                                font-family: Arial;

                            }
                        }
                        .main_page_popular_events_content_slide_info_inner_other_info_priem{
                            background: url('@{img-src}list.png') left center no-repeat;
                            margin: 15px 0 0 0;
                            padding: 0 0 0 15px;
                            font-size: 14px;
                            font-weight: 600;
                            color: #ccc;
                            span{
                                font-family: Arial;
                                font-size: 20px;
                                font-weight: 100;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Календарь

#main_page_calendar{
    position: relative;
    height: 400px;
    width: 100%;
    background: #E1EEDF;

    #main_page_calendar_prev, #main_page_calendar_next{
        height: 400px;
        width: 40px;
    }
    #calendar_loader{
        position: absolute;
        height: 30px;
        width: 30px;
        top: 50%;
        left: 50%;
        margin: -15px 0 0 -15px;
        background: url('@{img-src}loader.gif');
        display: none;
        z-index: 10;
    }
    #main_page_calendar_prev{float: left; cursor: pointer; background: #79D98C url('@{img-src}kalendae_left.png') no-repeat center;}
    #main_page_calendar_next{float: right; cursor: pointer; background: #79D98C url('@{img-src}kalendae_right.png') no-repeat center;}

    .main_page_calendar_item{
        border: 1px solid red;
        float: left;
        margin: 40px 20px 0 20px;
        .main_page_calendar_item_head{
            width: 100%;
            margin: 5px 0;
            text-align: center;
            font-weight: bold;
        }
    }
}

table.calendar{
    border-left:1px solid #999;
    .calendar-row{

        .calendar-day, .calendar-day-np{
            width:20px;
            padding:5px;
            border-bottom:1px solid #999;
            border-right:1px solid #999;
            text-align: center;
        }

        .calendar-day{
            min-height:80px;
            font-size:11px;
            position:relative;
        }

        .calendar-day:hover{
            background:#eceff5;
        }

        .calendar-day-np{
            background:#eee;
            min-height:40px;
        }

        .calendar-day-head{
            background:#ccc;
            font-weight:bold;
            text-align:center;
            width:20px;
            padding:5px;
            border-bottom:1px solid #999;
            border-top:1px solid #999;
            border-right:1px solid #999;
        }



    }
}


// Банеры снизу

#main_page_ads_bottom{
    margin: 23px auto 20px;
    width: 1014px;
    height: 100px;

    @media (max-width: @tablet) {
      display: none;
    }

    .main_page_ads_bottom_item{
        float: left;
        width: 430px;
        height: 100px;
    }
    #main_page_ads_bottom_item_left{
        margin: 0 26px 0 0;
    }
}





// календарь событий

.kalendae_events{
    margin: 0 auto 37px;
    width: 630px;
    .kalendae{
        box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
        border-radius: 4px;
        padding: 7px 8px;
        .k-separator{
            height: 250px;
            margin: 0;
        }
        .k-calendar{
            .k-days{
                .k-today{
                    background: #C0CBC1;
                    text-decoration: none;
                }
                .events{
                    text-decoration: underline;
                    animation-timing-function: ease-in-out;
                    transition: text-decoration 4s;
                }

            }
        }
    }
}

.ads{
    position: relative;
    padding: 25px 0 25px 0;
    border: 0px solid blue;
    background: #fff;
    width: 100%;
    height: 100px;

    @media (max-width: @tablet) {
      display: none;
    }

    &__wrapper{
        position: relative;
        border: 0px solid red;
        width: 970px;
        height: 100px;
        margin: 0 auto;
        z-index: 100;

        img {
          max-width: 100%;
        }

        @media (max-width: @tablet) {
          width: 100%;
        }
    }
}
