#map_search{
    border: 0px solid red;
    display: none;
    position: relative;
    width: 1260px;
    height: 850px;
    overflow: hidden;
    float: left;
    #map_search_list{
        position: relative;
        float: right;
        width: 300px;
        height: 850px;
        background: #FFF;
        overflow-y: auto;
        box-shadow: 9px 0px 22px 8px #616161;

        .map_search_list_item{
            
            .name_event{
                display: block;
                color: #1c74b9;
                font-family: "Roboto";
                text-decoration: none;
                font-size: 15px;
                font-weight: 100;
                line-height: 1.45em;
                margin-bottom: -3px;
            }
            img{
                margin: 0px 3px 0 0;
            }
            .map_search_list_item_dates{
                font-style: italic;
                color: #999999;
            }
            line-height: 1.6em;
            display: block;
            margin: 2px 2px 2px 17px;
            border-bottom: 1px solid #d9d9d9;
            padding: 8px 2px;
            font-size: 13px;
        }
    }
    #map_search_event_info{
        display: block;
        position: absolute;
        z-index: 1;        
        top: 0;
        right: -300px;
        width: 300px;
        height: 850px;
        background: #FFF;
        overflow-y: auto;
        a#map_search_event_info_back{
            display: block;
            float: left;
            clear: both;
            border: 1px solid #ccc;
            padding: 3px;
            margin: 0 0 15px 15px;
            border-radius: 2px;
            background: #fff;
            color: #0A55A9;
            &:hover{
                background: #0A55A9;
                color: #fff;
                cursor: pointer;
            }
        }
        #map_search_event_info_content{
            .map_search_event_info_content_item{
                .name_event{
                    display: block;
                    color: #1c74b9;
                    font-family: "Roboto";
                    text-decoration: none;
                    font-size: 15px;
                    font-weight: 100;
                    line-height: 1.45em;
                    margin-bottom: -3px;
                }
                img{
                    margin: 0px 3px 0 0;
                }
                .map_search_list_item_dates{
                    font-style: italic;
                    color: #999999;
                }
                line-height: 1.6em;
                display: block;
                margin: 2px 2px 2px 17px;
                border-bottom: 1px solid #d9d9d9;
                padding: 8px 2px;
                font-size: 13px;
            }
        }
        
    }
    #map_search_map{
        float: left;
        height: 850px;
        width: 960px;
    }
    #map_search_loading{
        position: absolute;;
        top: 0; left: 0;
        border: 0px solid red;
        width: 1260px;
        height: 560px;
        display: none;
        background-color: #000;
        filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
        -moz-opacity: 0;
        -khtml-opacity: 0;
        opacity: 0;
        img{
            margin: 250px 0 0 603px;
        }
    }
}
