#popup_bg{
    display: none;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
}

#loader{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -64px 0 0 -64px;
    width:64px; height: 64px;
    z-index: 10001;
    img{
        width:64px; height: 64px;
    }
}


.popup_window{
    display: none;
    position: fixed;
    z-index: 11001;
    border: 0px solid red;
    background-color: #fff;
    padding: 30px 40px 40px 40px;

    top: 50%;
    left: 50%;

    /*
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    */
    .popup_window_inner{
        position: relative;
        width: 100%; height: 100%;
        border: 0px solid blue;
        .popup_window_inner_close{
            position: absolute;
            width: 21px; height: 21px;
            top: -18px;
            right: -26px;
            cursor: pointer;
            background: url(/d/i/popup_close.png) no-repeat;
        }
        .popup_window_inner_title{
            text-transform: uppercase;
            font-size: 23px;
            font-weight: 500;
            letter-spacing: 0.005em;
            margin: 0 0 10px 0;
        }
        .popup_window_inner_annotation{
            font-size: 13px;
            letter-spacing: -0.01em;
        }
        .popup_window_inner_warning{
            font-size: 13px;
            letter-spacing: -0.01em;
            color: #787878;
            margin: 9px 0 26px 0;
        }

        #message{
            display: none;
            color: #3FA639;
        }
        .popup_window_inner_field{
            margin: 11px 0 0 0;
            .popup_window_inner_field_title{
                text-transform: uppercase;
                font-size: 15px;
                margin: 0 0 8px 0;
            }
            .popup_window_inner_field_inputtext{
                .popup_input_text{
                    padding: 0 0 0 4px;
                    height: 32px;
                    background: none;
                    font-size: 14px;
                    color: #444;
                    border: 1px solid #b3bbc3;
                    border-radius: 3px;
                }
                .popup_input_textarea{
                    padding: 0 0 0 4px;
                    background: none;
                    font-size: 14px;
                    color: #444;
                    border: 1px solid #b3bbc3;
                    border-radius: 3px;
                    resize: none;
                }

                input[type="checkbox"] {
                    display:none;
                }

                label{
                    margin-right: 20px;
                    font-size: 14px;
                    letter-spacing: -0.01em;
                }

                input[type="checkbox"] + label span {
                    display:inline-block;
                    width:18px;
                    height:18px;
                    margin:-1px 4px 0 0;
                    vertical-align:middle;
                    background:url(/d/i/check_radio_sheet.png) left top no-repeat;
                    cursor:pointer;
                }
                input[type="checkbox"]:checked + label span {
                    background:url(/d/i/check_radio_sheet.png) -18px top no-repeat;
                }


            }


        }
    }

}

#popup_is_parent_event{
    width: 500px;
    line-height: 1.4em;
    a{
        color: #27659E;
    }
}

#popup_vopros{
    .popup_window_inner{
        .popup_window_inner_field{
            .popup_window_inner_field_inputtext{
                #popup_vopros_name,
                #popup_vopros_city,
                #popup_vopros_nomin {
                    width: 291px;
                }
                #popup_vopros_email{
                    width: 230px;
                }
                #popup_vopros_text{
                    width: 291px;
                    height: 100px;
                }
                #popup_vopros_code{
                    width: 50px;
                    float: left;
                }
                .popup_window_inner_field_inputtext_captcha{
                    width: 51px;
                    height: 34px;
                    float: left;
                    margin: 0 0 0 10px;
                }
                .popup_window_inner_field_inputtext_captcha_reload{
                    width: 27px;
                    height: 25px;
                    float: left;
                    margin: 4px 0 0 9px;
                    cursor: pointer;
                }
                #popup_vopros_submit{
                    position: relative;
                    margin: 0px 0 0 -1px;
                    float: right;
                }
            }
        }
    }
    width: 293px;
}

#popup_login{
    .popup_window_inner{
        .popup_window_inner_field{
            .popup_window_inner_field_inputtext{
                #popup_login_email{
                    width: 291px;
                }
                #popup_login_password{
                    width: 291px;
                }
                #popup_login_forget_password{
                    font-size: 13px;
                    text-decoration: none;
                }
                #popup_login_submit{
                    position: relative;
                    margin: 0px 0 0 -1px;
                    float: right;
                }
            }
        }
    }
    width: 293px;
}

#popup_mail{
    .popup_window_inner{
        .popup_window_inner_field{
            .popup_window_inner_field_inputtext{
                #popup_mail_email{
                    width: 391px;
                }
                #popup_mail_name{
                    width: 391px;
                }
                .popup_input_textarea{
                    padding: 4px;
                    background: none;
                    font-size: 14px;
                    color: #444;
                    border: 1px solid #b3bbc3;
                    border-radius: 3px;
                    resize: none;
                    width: 389px;
                    height: 100px;
                }
                #popup_login_submit{
                    position: relative;
                    margin: 0px 0 0 -1px;
                    float: right;
                }
            }
        }
    }
    width: 393px;
}

#popup_help{
    .popup_window_inner{
        .popup_window_inner_title{
            text-transform: uppercase;
            font-size: 27px;
            font-weight: 700;
            letter-spacing: 0.005em;
            margin: 0 0 25px 0;
            line-height: 39px;
        }
        .popup_window_inner_field{
            .popup_window_inner_field_inputtext{
                float: left;
                clear: both;
                margin: 0 0 18px 0;
                #popup_help_email{
                    width: 293px;
                    margin-right: 26px;
                }
                #popup_help_phone{
                    width: 293px;
                    margin-right: 26px;
                }
                #popup_help_viber,
                #popup_help_whatsapp,
                #popup_help_name{
                    width: 437px;
                    margin-right: 26px;
                }
                textarea#popup_help_text{

                }
            }
            #popup_help_call_btn, #popup_help_email_btn{
                width: 118px;
            }
        }
        .popup_window_inner_big_field{
            border-radius: 3px;
            border: 1px solid #ccc;
            height: 126px;
            margin-top: 10px;
            padding: 5px 5px 10px 5px;
            text-align: center;
            font-size: 14px;
            color: #333;
            line-height: 28px;

            #popup_help_self_call_btn{
                width: 100%;
                font-size: 18px;
                font-weight: 400;
                margin: 0 0 16px 0;
                div{
                    text-align: center;
                    padding: 7px 11px 7px 11px;
                }
                &:hover{
                    background-color: #fff;
                    padding: 3px 0px 0px 0px;
                }
            }
        }
        .popup_window_inner_field_note, #message_help{
            padding: 15px 0 0 0;
            text-align: center;
            font-size: 15px;
            color: #676767;
            line-height: 27px;
        }
        .popup_window_inner_close{
            top: -7px;
            right: -13px;
        }
    }
    width: 444px;
}













#popup_recall{
    .popup_window_inner{
        .popup_window_inner_title{
            text-transform: uppercase;
            font-size: 27px;
            font-weight: 700;
            letter-spacing: 0.005em;
            margin: 0 0 25px 0;
            line-height: 39px;
        }
        .popup_window_inner_field{
            .popup_window_inner_field_inputtext{
                float: left;
                clear: both;
                margin: 0 0 18px 0;

                #popup_recall_phone{
                    width: 293px;
                    margin-right: 26px;
                }
                #popup_recall_name,
                #popup_recall_viber,
                #popup_recall_whatsapp {
                    width: 437px;
                    margin-right: 26px;
                }
            }
            #popup_recall_btn{
                width: 118px;
            }
        }

        .popup_window_inner_close{
            top: -7px;
            right: -13px;
        }
    }
    width: 444px;
}



#popup_sendme{
    .popup_window_inner{
        .popup_window_inner_title{
            text-transform: uppercase;
            font-size: 27px;
            font-weight: 700;
            letter-spacing: 0.005em;
            margin: 0 0 25px 0;
            line-height: 39px;
        }
        .popup_window_inner_field{
            .popup_window_inner_field_inputtext{
                float: left;
                clear: both;
                margin: 0 0 18px 0;

                #popup_sendme_mail{
                    width: 293px;
                    margin-right: 26px;
                }
            }
            #popup_sendme_btn{
                width: 118px;
            }
        }

        .popup_window_inner_close{
            top: -7px;
            right: -13px;
        }
    }
    width: 444px;
}

#popup_reg{
    .popup_window_inner{
        .popup_window_inner_field{
            .popup_window_inner_field_inputtext{
                #popup_reg_surname, #popup_reg_name, #popup_reg_name2, #popup_reg_email, #popup_reg_password{
                    width: 291px;
                }
                #popup_reg_submit{
                    position: relative;
                    margin: 0px 0 0 -1px;
                    float: right;
                }
            }
        }
    }
    width: 293px;
}

#popup_rec{
    .popup_window_inner{
        .popup_window_inner_field{
            .popup_window_inner_field_inputtext{
                #popup_rec_email{
                    width: 320px;
                }
                #popup_rec_submit{
                    position: relative;
                    margin: 0px 0 0 -1px;
                    float: right;
                }
            }
        }
    }
    width: 320px;
}

#popup_map{
    /*
    width: 800px;
    height: 600px;
    */
}

.popup_window_map{
    display: none;
    position: fixed;
    z-index: 11001;
    border: 0px solid red;
    background-color: #fff;
    padding: 10px;

    top: 50%;
    left: 50%;


    .popup_window_inner{
        position: relative;
        width: 100%; height: 100%;
        border: 0px solid blue;

    }

}
