#profile_content{
    .notification{
        border: 2px solid red;
        border-radius: 3px;
        text-align: center;
        margin: 0 0 30px 0;
        padding: 10px 25px 20px 25px;
        h3{
            font-size: 22px;
            margin: 10px 0 20px
        }
    }
    #cab_menu{
        margin: 0 0 20px 0;
        a{
            display: block;
            float: left;
            margin: 0 24px 0 0;
            font-family: Roboto;
            font-size: 14px;
            color: #3b5c90;
        }
        .selected_menu{
            display: block;
            float: left;
            margin: 0 24px 0 0;
            font-family: Roboto;
            font-size: 14px;
            color: #3b5c90;
        }
    }
    
    .change_main_table{
        border-collapse: collapse;
        tr{
            height: 38px;
        }
        td{
            text-align: right;
            font-size: 14px;
            color: #333;
            .required{
                color: #0ab82b;
                &:before{
                    content: " ";
                }
            }
            .input_text{
                padding: 0 0 0 4px;
                height: 32px;
                width: 560px;
                background: #f8f9f9;
                font-size: 14px;
                font-style: italic;
                color: #444;
                border: 1px solid #b3bbc3;
                margin: 0 0 0 22px;
                border-radius: 3px;
            }
            
            .radio_block{
                input[type="radio"] {
                    display:none;
                }
                
                input[type="radio"] + label span {
                    display:inline-block;
                    width:18px;
                    height:18px;
                    margin:-1px 10px 0 0;
                    vertical-align:middle;
                    background:url(/d/i/check_radio_sheet.png) -36px top no-repeat;
                    cursor:pointer;
                }
                input[type="radio"]:checked + label span {
                    background:url(/d/i/check_radio_sheet.png) -54px top no-repeat;
                }
                div{
                    float: left;
                    margin-right: 32px;
                    font-family: Arial;
                    font-size: 14px;
                }
            }
        }
    }
    
    #change_password_table{
        border-collapse: collapse;
        tr{
            height: 38px;
        }
        td{
            border: 0px solid red;
            text-align: right;
            font-size: 14px;
            color: #333;
            .required{
                color: #0ab82b;
                &:before{
                    content: " ";
                }
            }
            .input_text{
                padding: 0 0 0 4px;
                height: 32px;
                width: 400px;
                background: #f8f9f9;
                font-size: 14px;
                font-style: italic;
                color: #444;
                border: 1px solid #b3bbc3;
                margin: 0 0 0 10px;
                border-radius: 3px;
            }
            
            .radio_block{
                input[type="radio"] {
                    display:none;
                }
                
                input[type="radio"] + label span {
                    display:inline-block;
                    width:18px;
                    height:18px;
                    margin:-1px 10px 0 0;
                    vertical-align:middle;
                    background:url(/d/i/check_radio_sheet.png) -36px top no-repeat;
                    cursor:pointer;
                }
                input[type="radio"]:checked + label span {
                    background:url(/d/i/check_radio_sheet.png) -54px top no-repeat;
                }
                div{
                    float: left;
                    margin-right: 32px;
                    font-family: Arial;
                    font-size: 14px;
                }
            }
        }
    }
    
    #table_my_orders{
        border-radius: 5px;
        border: 0px solid red;
        tr{
            th{
                background: #c5e8cd;
                text-align: left;
                padding: 10px 20px;
            }
            .radius_lu{
                border-top-left-radius: 5px;
            }
            .radius_ru{
                border-top-right-radius: 5px;
            }
        }
        .row_head{
            th{
                border-bottom: 2px solid #fff;
                border-right: 1px solid #fff;
            }
            
        }
        .row_order{
            background: #eff1f2;
            td{
                border-bottom: 2px solid #fff;
                padding: 20px;
                font-size: 14px;
            }
            .end_right{border-bottom-right-radius: 5px;}
            .end_left{border-bottom-left-radius: 5px;}
            .border_right{
                padding-right: 0px;
                div{
                    position: relative;
                    display: inline-table;
                    min-height: 100%;
                    width: 100%;
                    border-right: 1px solid #b3bbc3;
                    padding: 0 10px 0 0;
                    a{
                        color: #000;
                        text-decoration: none;
                    }
                    .a_print_order{
                        color: #778aab;
                        text-decoration: underline;
                    }
                    .a_name_event{
                        font-weight: 600;
                    }
                }
            }
        }
        
    }
    /* Чаты */
    #chat_overlay{
        width: 1100px;
        border: 0px solid blue;
        #new_chat_note{
            display: block;
            border: 0px solid red;
            width: 100%;
            font-size: 14px;
            color: #404040;
        }
        #chat_left_block{
            float: left;
            width: 550px;
            border: 0px solid red;
            
            #new_chat{
                position: relative;
                border: 0px solid red;
                #select_new_theme{
                    width: 100%;
                }
                #new_dioalog_message{
                    position: relative;
                    width: 545px;
                    height: 205px;
                    resize: none;
                    background: #f4f6f7;
                    border: 1px solid #ccc;
                    border-radius: 3px;
                }
            }
            #messages_window{
                display: none;
                width: 550px;
                border: 0px solid red;
                #name_chat{
                }
                #chat_window{
                    width: 550px;

                    background: none;
                    border: 0px solid black;
                    
                    max-height:400px; /* Выставляем ограничение по высоте */ 
                    overflow:auto; /* Добавляем стандартные полосы прокрутки на случай, если скрипт не сработает. */ 
                    outline:none; /* Убираем неприятную обводку при фокусе. */ 
                    
                    /*overflow-y: scroll;*/
                    opacity: 0.7; /* Полупрозрачный фон */
                    filter: alpha(Opacity=70); /* Прозрачность в IE */
                    .message_item{
                        max-width: 99%;
                        margin: 5px;
                        font-size: 14px;
                    }
                    .to_user{
                        .name_sender_to_user{
                            color: #0ab82b;
                            font-weight: 500;
                        }
                        float: left;
                        border: 0px solid red;
                    }

                    .to_admin{
                        .name_sender_to_admin{
                            color: #000;
                            font-weight: 500;
                        }
                        float: left;
                        border: 0px solid magenta;
                    }
                }
                #chat_new_message_block{
                    #new_message{
                        width: 545px;
                        height: 150px;
                        margin-top: 10px;
                        background: #f4f6f7;
                        border: 1px solid #ccc;
                        border-radius: 3px;
                    }
                }
            }
        }
        #chat_list{
            float: left;
            width: 300px;
            margin: 0 0 0 90px;
            border: 0px solid brown;
            .chat_item{
                text-align: right;
                width: 100%;
                margin: 0 0 8px 0;
                .name_chat{
                    display: block;
                    float: left;
                    font-size: 15px;
                    color: #0ab82b;
                    text-decoration: underline;                   
                    cursor: pointer;
                }
                .date_last_message{
                    text-decoration: underline; 
                    display: block;
                    float: right;
                    line-height: 1.9em;
                    font-size: 12px;
                }
            }
            .current{
                text-align: right;
                width: 100%;
                margin: 0 0 8px 0;
                .name_chat{
                    display: block;
                    float: left;
                    font-size: 15px;
                    color: #787878;
                    text-decoration: none;                   
                    cursor: pointer;
                }
                .date_last_message{
                    display: block;
                    text-decoration: none;
                    float: right;
                    line-height: 1.9em;
                    font-size: 12px;
                }
            }
            #link_new_dialog{
                color: #7a8dae;
                text-decoration: underline;
                cursor: pointer;
                font-size: 14px;
                margin: 30px 0 0 0;
            }
        }
    }

    .warning {
        font-size: 13px;
        letter-spacing: -0.01em;
        color: #787878;
        margin: 9px 0 26px 0;
    }
}

.profile_title{
    display: block;
    margin: 20px 0 10px 0;
    font-family: Roboto;
    font-weight: 500;
    font-size: 17px;
    text-transform: uppercase;
}