@import "../../node_modules/bootstrap/less/variables.less";
@import "../../node_modules/bootstrap/less/mixins.less";
@import "../../node_modules/bootstrap/less/component-animations.less";
@import (reference) "../_vars";
@tooltip-max-width: 380px;
@tooltip-color: #000;
@tooltip-bg: #fff;
@tooltip-arrow-width: 15px;
@tooltip-opacity: 1;
// @import "../../node_modules/bootstrap/less/tooltip.less";
// this file containt all styles tooltip, because arrow need defined as image with shadows
.tooltip {
  position: absolute;
  z-index: @zindex-tooltip;
  display: block;
  .reset-text();
  font-size: 14px;

  .opacity(0);

  &.in     { .opacity(@tooltip-opacity); }
  &.top    { margin-top:  -3px; padding: @tooltip-arrow-width 0; }
  &.right  { margin-left:  3px; padding: 0 @tooltip-arrow-width; }
  &.bottom { margin-top:   3px; padding: @tooltip-arrow-width 0; }
  &.left   { margin-left: -3px; padding: 0 @tooltip-arrow-width; }
}

// Wrapper for the tooltip content
.tooltip-inner {
  max-width: @tooltip-max-width;
  padding: 20px;
  color: @tooltip-color;
  text-align: center;
  background-color: @tooltip-bg;
  border-radius: @border-radius-base;
  box-shadow: rgb(136, 136, 136) 1px 1px 3px 0px;
}
.fest-item__manager .tooltip-inner {
  max-width: auto;
}
// Arrows
.tooltip-arrow {
  background-color: #fff;
  background: url('@{img-src}tooltip_arrow.png') no-repeat;
  border-color:transparent;
  border-style:solid;
  width:25px;
  height:13px;
  padding:0;
  display:block;
  position:absolute;
  z-index: 10009 !important;
}

.tooltip {
  &.top .tooltip-arrow {
    bottom: -2px;
    transform: rotate(180deg);
  }
  &.top-left .tooltip-arrow {
    bottom: -2px;
    transform: rotate(180deg);
    left: 0;
  }
  &.top-right .tooltip-arrow {
    bottom: -2px;
    transform: rotate(180deg);
    right: 0;
  }
  &.right .tooltip-arrow {
    left: -9px;
    transform: rotate(270deg);
  }
  &.left .tooltip-arrow {
    right: -9px;
    transform: rotate(90deg);
  }
  &.bottom .tooltip-arrow {
    margin-left: -13px;
    top: -2px;
  }
  &.bottom-left .tooltip-arrow {
    margin-right: 8px;
    left: 0;
    top: -2px;
  }
  &.bottom-right .tooltip-arrow {
    margin-right: 8px;
    right: 0;
    top: -2px;
  }
}
