@import (reference) "_vars";
#countries_block{
    display: none;
    width: 1000px;
    padding: 36px 0px;
    border-left: 130px solid #333e5d;
    border-right: 130px solid #333e5d;
    background: #333e5d;
    position: absolute;
    top: -100px;
    z-index: 95000;
    overflow: hidden;

    @media (max-width: @tablet) {
      width: 100%;
      border: 0;
      padding-left: 20px;
      top: -180px;
      box-sizing: border-box;
    }

    .form_search_content_item_country_town{
        position: relative;
        width: 560px;
        margin: 0 0 30px 179px;
        border: 0px solid red;

        @media (max-width: @tablet) {
          width: 90%;
          height: auto;
        }

        .form_search_content_item_title{
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 600;
            letter-spacing: 0.05em;
            color: #000;
            margin: 0 0 13px 0;
        }
        .form_search_content_item_content{
            width: 560px;
        }
        #searchforMapSubmit{
            background: url(/d/i/search.png) 6px 6px no-repeat;
            position: absolute;
            cursor: pointer;
            top: 0px; left: 524px;
            height: 28px;
            width: 28px;
            opacity: 0.5;
            z-index: 6000;
            &:hover{
                opacity: 1;
            }
        }
    }
    #countries_block_inner{
        position: relative;
        width: 10000px;
        border: 0px solid red;
        .countries_block_inner_item{
            position: relative;
            float: left;
            left: 25px;
            width: 175px;
            margin: 0 25px 0 0;
            border: 0px solid red;
            .countries_block_inner_item_letter{
                position: absolute;
                left: -25px;
                font-size: 25px;
                color: #fff;
                height: 100%;
            }
            .countries_block_inner_item_list{
                a{
                    color: #fff;
                    text-decoration: none;
                    font-size: 14px;
                    font-weight: 300;
                    line-height: 1.55em;
                    &:hover{
                        border-bottom: 1px dotted #fff;
                    }
                }
            }
        }
    }
    #countries_block_move{
        width: 180px;
        border: 0px solid yellow;
        height: 32px;
        margin: 40px 0 0 410px;
        #countries_block_move_left, #countries_block_move_right{
            height: 32px;
            color: #9498a4;
            font-size: 14px;
            font-weight: 500;
            cursor: pointer;
            &:hover{
                color: #b6b9c3;
            }
        }
        #countries_block_move_left{
            visibility: hidden;
            float: left;
            padding: 6px 0 0 33px;
            background: url(/d/i/slider_countries_1.png) no-repeat;
        }
        #countries_block_move_right{
            visibility: visible;
            float: right;
            padding: 6px 33px 0 0;
            background: url(/d/i/slider_countries_2.png) 100% 0 no-repeat;
        }
    }
}
