@import (reference) "_vars";
.footer{
    height: 333px;
    padding: 26px 0 0 0;
    margin: 0;
    position: absolute;
    bottom: 0;
    width:1260px;
    background: #292929;
    z-index: 1;

    @media (max-width: @tablet) {
      width: 100%;
      height: auto;
    }

    &__content {
      margin: 0 auto;
      width: 1200px;
      padding: 0;

      @media (max-width: @tablet) {
        width: 94%;
      }
    }

    &__left {
      float: left;
      margin: 0 0 0 18px;

      @media (max-width: @tablet) {
        display: none;
      }
    }

    &__right {
      float: right;
      margin: 0 20px 0 0;
      font-size: 13px;
      font-weight: 200;

      @media (max-width: @tablet) {
        float: none;

      }
    }

    &__social {
        float: right;

        @media (max-width: @mobile) {
          width: 100%;
          display: flex;
          align-items: flex-end;
          margin-top: 20px;
        }

        .social__link {
            display: block;
            float: left;
            padding: 0;
            margin: 0 3px 0 0;
        }
    }

    &__counter {
        float: right;
        width: 100%;
        text-align: right;
        margin: 10px 20px 0 0;

        @media (max-width: @tablet) {
          text-align: left;
          float: left;
          width: 20%;
          margin: 0;
        }
    }

    &__copy {
        float: right;
        width: 100%;
        font-size: 13px;
        font-weight: 200;
        text-align: right;
        color: #909090;
        margin-right: 20px;

        @media (max-width: @tablet) {
          float: left;
          width: 80%;
          margin: 0;
          text-align: left;
          padding-top: .5em;
        }
    }

    &__bottom {

      @media (max-width: @tablet) {
        border-top: 1px solid #454545;
        padding-top: 30px;
        margin: 30px 0;
      }

      &::after,
      &::before {
        display: block;
        content: '';
        clear: both;
      }
    }

    &__subtitle {
      color: #fff;
      margin: 0 0 10px 0;
      display: inline-block;
      text-transform: uppercase;
      font-size: 12px;

      @media (max-width: @tablet) {
        font-size: 18px;
        line-height: 1.2;
      }

      @media (max-width: @mobile) {
        flex-grow: 2;
      }
    }

    &__form {
      margin: 17px 0 0 0;

      @media (max-width: @tablet) {
        margin-top: 10px;
      }

      @media (max-width: @mobile) {
        display: flex;

        & > input[name='email'] {
          flex-grow: 2;
          margin-right: 5px;
        }
      }
    }

    &__subscribe {
        margin: 20px 0 15px 0;

        @media (max-width: @tablet) {
          float: left;
          margin: 0;
        }

        @media (max-width: @mobile) {
          width: 100%;
        }

        #input_text_subscribe_email {
            height: 25px;
            width: 207px;
            padding: 0 0 0 5px;
            float: left;
            background: #fff;
            color: #000;
            border: 1px solid #626a72;
            border-radius: 2px;
        }
    }
    &__politic {
      display: none;
      padding-left: 20px;

      @media (max-width: @tablet) {
        display: inline;
      }

      a {
        color: @color-type-event-kanik;
        text-decoration: none;
      }
    }
}

#footer_left{
    .footer_left_column{
        width: 210px;
        float: left;
        .footer_left_column_head, .footer_left_column_head a{
            color: #0ab82b;
            font-size: 13px;
            font-weight: 500;
            letter-spacing: 0.005em;
            text-transform: uppercase;
            text-decoration: none;
            margin: 20px 0 10px 0;
        }
        a{
            display: block;
            text-decoration: none;
            color: #cacaca;
            font-size: 13px;
            font-weight: 300;
            margin: 0 0 6px 0;
        }
    }
}

.footer_line{
    border-top: 1px solid #cdd6dd;
    padding: 26px 0 0 0;
}
