@import (reference) "../_vars";
@import "language";
@import "logo";
.header{
   *{
     box-sizing: border-box;
   }
    background: #fff;
    position: relative;
    height: 252px;

    @media (max-width: @tablet) {
      height: auto;
    }

    &__right{
        float: right;
        position: relative;
        margin: 61px 48px 0 0;
        height: 94px;
        width: 910px;
        letter-spacing: 0.015em;

        @media (max-width: @tablet) {
          margin: 0;
          width: 100%;
          height: auto;
          float: none;
        }
    }

    &__menu-fest {
      z-index: 1;
      position: absolute;
      float: left;
      bottom: 15px;
      height: 26px;
      left: -10px;
      width: 943px;

      @media (max-width: @tablet) {
        left: 0;
        bottom: 0;
        position: relative;
        margin: 0 3%;
        padding: 20px;
        width: 94%;
        height: auto;
        border: 1px solid #dedede;
      }
    }

    &__navpanel{
      z-index: 4000;
      position: absolute;
      width: 100%;
      height: 38px;
      background-color: @color-header-up-bg;

      @media (max-width: @tablet) {
        height: 60px;
        position: relative;
      }

    }

    &__cpa {
        display: block;
        float: right;
        margin: 0 10px 0 30px;
        padding: 10px 30px 0 30px;
        height: 38px;
        background-color: @color-header-up-partners-bg;
        text-decoration: none;
        font-family: Arial;
        font-size: 13px;
        letter-spacing: .035em;
        color: #fff;

        @media (max-width: @tablet) {
          display: none;
        }
    }

    &__menu {
      float: left;
    }

    &__login {
      float: right;
      margin: 0px 0 0 20px;
      border: 0px solid red;
      text-align: right;

      @media (max-width: @tablet) {
        height: 60px;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        margin-left: 0;
      }

      .linkplace {
        padding: 10px 0 0 0;
        display: block;
        float: right;
        color: #fff;
        font-family: Arial;
        font-size: 14px;
        letter-spacing: .0001em;
        text-decoration: none;

        @media (max-width: @tablet) {
          padding: 0;
          margin: 0 15px;
        }
      }

      #header_up_login_fav_link_profile {
          padding: 10px 0 0 23px;
          background: url('@{img-src}pfile_head.png') no-repeat left 13px;
      }
      #header_up_login_fav_link_exit {
          margin: 1px 0 0 11px;
      }
      .display_block {display: block;}
      .display_none {display: none;}
    }

    &__contact {
        border: 0px solid red;
        float: left;
        padding: 0 0 0 53px;

        @media (max-width: @tablet) {
          display: none;
        }

        .holidays {
            color: #f00;
            float: right;
            margin: -8px 0 0 74px;
            line-height: 1.5em;
            text-align: center;
        }
    }

    &__phonenumber {
      display: block;
      float: left;
      font-weight: bold;
    }

    &__link {
        display: block;
        float: left;
        margin: 0 0 0 40px;
        color: #2c3348;
        text-decoration: none;
        border-bottom: 1px dotted #2c3348;
    }

    &__mobilebtn {
      display: none;

      @media (max-width: @tablet) {
        display: block;
      }
    }

    .favorite {
        padding: 10px 0 0 23px;
        background: url('@{img-src}fav_head.png') no-repeat left 12px;
        margin: 0 27px 0 0;

        @media (max-width: @tablet) {
          margin: 0;
          padding: 0 0 0 23px;
          background-position: 0 0;
        }
    }
    &__help {
      width: 100%;
      text-align: center;
      margin: 10px 0;
      float: left;
    }
}

.header-sprite {
  display: inline-block;
  appearance: none;
  width: 60px;
  height: 60px;
  padding: 0;
  margin: 0;
  background-color: inherit;
  background-image: url('@{img-src}mobile/header-sprite.png');
  border: 0;

  &__tel {
    background-position: 60px top;
    background-color: @color-toggle;
  }
  &__mail {
    background-position: 120px top;
  }
  &__find {
    background-position: 0px top;
    background-color: @color-btn-green;
  }
}

.header-search {
    border: 0px solid red;
    padding: 6px 0 12px 0;
    background: #fff;
    z-index: 9000;

    @media (max-width: @tablet) {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
    }

    &__help {
        display: block;
        position: relative;
        float: right;
        right: 34px;
        box-sizing: border-box;
        width: 213px;
        height: 54px;
        padding: 8px 0 0 0;
        text-align: center;
        background: #f9f9f9; /* Old browsers */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ededed',GradientType=0 );
        background: -moz-linear-gradient(top, #f9f9f9 0%, #ededed 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #f9f9f9 0%,#ededed 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #f9f9f9 0%,#ededed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        border: 1px solid #e0e0e0;
        color: #4188c0;
        font-weight: 600;
        cursor: pointer;
        text-transform: uppercase;
        text-decoration: underline;

        @media (max-width: @tablet) {
          position: static;
          float: none;
          display: inline-block;
          width: auto;
          padding: 20px 85px;
        }
    }

    &__form {
        margin: 0 0 0 30px;
        background: #ffd001;
        padding: 12px 23px 12px 12px;
        width: 922px;

        @media (max-width: @tablet) {
          width: 94%;
          margin: 0 3% 20px;
          display: flex;

          &::after {
            display: block;
            width: 43px;
            height: 27px;
            content: '';
            background: url('@{img-src}mobile/header-sprite.png') no-repeat left center;
          }
        }

        @media (max-width: @tablet) {
          width: 100%;
          margin: 0 0 20px;
        }
      }

    &__input {
      display: block;
      width: 764px;
      padding: 0 0 0 4px;
      margin: 0;
      height: 28px;
      border: 1px solid #b3bbc3;
      background: #fff;
      font-size: 14px;
      color: #6a7491;

      @media (max-width: @tablet) {
        width: 100%;
      }
    }

    &__submit {
        border: 1px solid #c9ab27;
        border-radius: 2px;
        background-image: linear-gradient(#fefefe, #e4e4e4);
        position: relative;
        width: 103px;
        height: 30px;
        float: right;
        cursor:pointer;

        @media (max-width: @tablet) {
          display: none;
        }
    }

    &__details {
        margin: 5px 0 0 38px;
        position: relative;
        float: left;
        border: 0px solid magenta;
        cursor:pointer;

        span {
            font-size: 15px;
            color: #1f5c93;
            border-bottom: 1px dotted #1f5c93;
        }

        @media (max-width: @tablet) {
          display: none;
        }
    }
}
