@import (reference) "_vars";
.help-video {
    z-index: 1;
    background: #f81e42;
    height: 73px;
    opacity: 0;
    width: 0;
    position: fixed;
    bottom: 86px;
    right: 0;
    border-radius: 3px 0 0 0;
    overflow: hidden;
    color: #fff;

    @media (max-width: @tablet) {
      bottom: 0;
    }

    .help-video-close {
        display: block;
        float: right;
        position: relative;
        top: 9px;
        right: 9px;
        height: 9px;
        width: 9px;
        background: url('@{img-src}help_video_close.png') no-repeat;
        cursor: pointer;
    }

    .left-block {
        background: #e92142;
        float: left;
        height: 73px;
        width: 72px;
        img {
            margin: 13px 0 0 20px;
        }
    }

    .text {
        padding: 17px 0 0 89px;
        a {
            color: #fff;
            text-decoration: none;
            font-weight: 100;
        }
    }
}

.help-video-min {
    z-index: 1;
    cursor: pointer;
    background: #e92142 url('@{img-src}help_video_min.png') no-repeat center center;
    height: 48px;
    width: 46px;
    position: fixed;
    bottom: 100px;
    right: -50px;
    border-radius: 3px 0 0 3px;

    @media (max-width: @tablet) {
      bottom: 0;
    }
}
