@import (reference) "../_vars";
.language {
    float: right;
    margin: 5px 35px 0 0;
    width: 36px;
    height: 13px;

    @media (max-width: @tablet) {
      display: none;
    }

    &__img {
        max-height: 27px;
    }
}
