@import (reference) "../_vars";
.logo{
    float: left;
    margin: 58px 0 0 30px;
    width: 250px;
    height: 79px;
    color: @color-text-logo;

    @media (max-width: @tablet) {
      width: 100%;
      margin: 30px 0;
      float: none;
    }

    @media (max-width: @mobile) {
      margin: 10px 0;
    }

    &__img {
      width: 79px;
      height: 79px;
      display: block;
      float: left;
      margin: 0 20px 0 0;
    }

    &__link {
      color: inherit;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;

      @media (max-width: @tablet) {
        text-align: center;
      }
    }

    &__title{
        display: block;
        padding: 4px 0 0 0;
        font-size: 25px;
        font-weight: bold;
        letter-spacing: -0.01em;
    }

    &__description{
        position: relative;
        left: 2px;
        display: block;
        margin: -1px 0 0 0;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 0.05em;
    }
}
