@import (reference) "../_vars";

.primary-menu{
    background: @color-menu-bg;
    margin: 0 0 0 44px;
    padding: 0;
    float: left;
    display: inline-block;

    @media (max-width: @tablet){
      display: none;
    }

    li{
      min-height: 38px;
      background: @color-menu-bg;
      float: left;
      position: relative;
      list-style: none;

      &:hover {
        a{
          background: @color-menu-hover;
        }

        ul{
            display: block;
            position: absolute;
            top: 37px;
            z-index: 9999;
            background: @color-menu-hover;

            li {
                float: none;
                width: 200px;

                &:hover {
                    background: @color-menu-hover;
                }

                a {
                    padding: 10px 20px;
                }
            }
        }
      }

      ul,
      .sub-menu li ul{
          margin: 0;
          padding: 0;
          display: none;
          background: @color-menu-hover;
      }

      .sub-menu li:hover ul{
          left: 200px;
          top: 0px;
          display: block;
          position: absolute;
          z-index: 9999;
      }

      ul li{
        background: @color-menu-hover;
        float: left;
        position: relative;
        list-style: none;

        &:hover{
          a{
            background: @color-menu-submenu-hover;
          }
        }

        a{
          &:hover{
            background: @color-menu-submenu-hover;
          }
        }
      }

    a{
        padding: 10px 20px 11px 20px;
        display: block;
        border-right: 0px solid #DDDDDD;
        border-top: 0px solid #DDDDDD;
        font-size: 14px;
        font-family: Arial;
        text-decoration: none;
        color: #FFFFFF;

        &:hover{
            background: @color-menu-hover;
        }
    }
  }
}

.primary-menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  appearance: none;
  border: 0;
  width: 60px;
  height: 60px;
  background-color: @color-toggle;
  padding: 0;

  @media (max-width: @tablet) {
    display: flex;
  }

  &__single {
    display: block;
    width: 24px;
    height: 2px;
    background: white;
    margin: 0 18px 7px;
  }
}

.open {
  padding-left: 210px;
  position: absolute;
  background-color: @color-menu-bg;

  .primary-menu-toggle {
    transform: rotate(90deg);
  }

  & > .primary-menu {
    @media (max-width: @tablet) {
      display: block;

      min-width: 270px;
      max-width: 100%;
      margin-left: 0;
      position: absolute;
      left: 0;
      margin-top: -1px;
      padding: 0 0 40px 40px;
      overflow: hidden;

      transition: display ease .2;

      li {
        float: none;
      }

      a {
        font-size: 20px;
        color: rgb(255, 255, 255);
        line-height: 2.35;
        text-align: left;
        white-space: nowrap;
      }
      .sub-menu {
        display: none;
      }
    }
  }
}

.menu-fest{
  padding: 0 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 14px;

  @media (max-width: @tablet) {
    flex-wrap: wrap;
  }

  &__item {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #9e59ce;
    letter-spacing: 0.035em;
    padding: 4px 8px 3px 8px;
    text-transform: uppercase;
    text-align: center;

    @media (max-width: @tablet) {
      margin-bottom: 5px;
      padding: 15px 0;
    }

    @media (max-width: @mobile) {
      padding: 10px 0;
      font-weight: normal !important;
      &:not(._super) {
        margin: 0 auto 5px;
        width: 98% !important;
      }
    }

    &_fest{
      background: #ff0238;
      font-weight: 300;
      font-size: 16px;
    }
    &_konk{
      background: #0fca21;
      font-weight: 300;
      font-size: 16px;
    }
    &_mklass{
      background: #ff7802;
      font-weight: 300;
      font-size: 16px;
    }
    &_kan{
      background: #08a2d6;
      font-weight: 300;
      font-size: 16px;
      margin-right: 20px;

      @media (max-width: @tablet) {
        margin-right: 0;
      }
    }

    &_world {
      @media (max-width: @tablet) {
        &::after {
          content: '\2304';
          padding-left: 5px;
          top: -7px;
          position: relative;
          transform: scale(1.5);
        }
      }
    }
  }

  a.main_menu_a_country{
      display: block;
      float: right;
      text-decoration: none;
      color: #000;
      font-size: 18px;
      margin: 2px 0 0 0;
      border: 1px solid #fff;
      border-bottom: 1px dotted #000;
  }
}
