@import (reference) "../_vars";

.page {
  min-height: 100%; top: 0px;
  height: 100%;
  min-width:1260px;
  width:1260px;
  margin: 0 auto;
  z-index: 1;
  background-color: @color-body_bg;
  border: 0px solid #0f0;

  @media (max-width: @tablet) {
    min-width: 100%;
    width: 100%;
  }
  @media (max-width: @mobile) {
    min-width: @supported;
  }
}
