@import (reference) "_vars";
.slider_min_max_val_age{
    float: left;
    font-family: Arial;
    font-size: 14px;
    margin-top: -5px;
    width: 20px;
    border: 0px solid black;
}

.slider_min_max_val_price{
    float: left;
    font-family: Arial;
    font-size: 14px;
    margin-top: -5px;
    width: 60px;
    border: 0px solid black;
}

#min_price_div, #min_age_div{
    text-align: right;
}

.max_val{
    margin-left: 15px;
}

.min_val{
    margin-right: -8px;
}


.sliderCont{
    float: left;
    width: 100%;
    margin-left: 5px;
}

#slider_cost{
    width: 394px;

    @media (max-width: @tablet) {
      width: 95%;
    }
}

#slider_age{
    width: 400px;

    @media (max-width: @tablet) {
      width: 95%;
    }
}

.ui-slider {
    position: relative;
}
.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 13px;
    height: 26px;
    background: url('@{img-src}slider_left.png') no-repeat;
    border: 0px solid red;
    outline: none;
    cursor: pointer;
    border-radius: 0;

    &:last-child {
      background: url('@{img-src}slider_right.png') no-repeat;
    }
}
.ui-slider .ui-slider-range{
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    overflow: hidden;
}
.ui-slider-horizontal{
     height: 4px;
}
.ui-slider-horizontal .ui-slider-handle{
    top: -11px;
    margin-left: 0px;
}
.ui-slider-horizontal .ui-slider-range{
    top: 0;
    height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min{
    left: 0;
}
.ui-slider-horizontal .ui-slider-range-max{
    right: 0;
}
.ui-widget-content {
    border: 1px solid #D4D4D4;
    background: #cad1d7;
}
.ui-widget-header {
    border: 1px solid #D4D4D4;
    background: #0ab82b;
}
.ui-corner-all {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
