@import (reference) "../_vars";

/* Стили всплывающих окон. */

.event-manager {
    padding: 7px 0 0 0;
    color: #888d9c;
    text-align: left;
    font-size: 15px;
    overflow: hidden;

    &__name {
        text-align: center;
        margin: 0 0 10px 0;
    }

    &__question {
        background: url('@{img-src}manager_over_question.png') no-repeat 0px 3px;
        padding: 0 0 13px 21px;
        margin: 0 0 16px 0

    }
    &__make_question {
        color: #3b5c90;
        cursor: pointer;
    }
    &__link {
      color: #8597B6;
      // white-space: nowrap;
    }
    &__phone {
        background: url('@{img-src}manager_phone.png') no-repeat;
        border: 0px solid red;
        padding: 0 0 3px 21px;
        margin: 0 0 16px 0
    }
    &__email {
        background: url('@{img-src}manager_email.png') no-repeat;
        border: 0px solid red;
        padding: 0 0 3px 21px;
        margin: 0 0 16px 0;
    }
    &__skype {
        background: url('@{img-src}manager_skype.png') no-repeat;
        border: 0px solid red;
        padding: 0 0 0 25px;
        margin: 0 0 16px 0;
    }
    &__vk {
        background: url('@{img-src}manager_vk.png') no-repeat left;
        border: 0px solid red;
        padding: 0 0 0 22px;
        margin: 0 0 16px 0
    }
    &__ok {
        background: url('@{img-src}manager_ok.png') no-repeat left;
        border: 0px solid red;
        padding: 0 0 0 22px;
        margin: 0 0 16px 0
    }
    &__fb {
        background: url('@{img-src}manager_fb.png') no-repeat left;
        border: 0px solid red;
        padding: 0 0 0 22px;
        margin: 0 0 16px 0
    }

    &__viber {
        background: url('@{img-src}manager_viber.png') no-repeat left;
        border: 0px solid red;
        padding: 0 0 0 22px;
        margin: 0 0 16px 0
    }
    &__whatsapp {
        background: url('@{img-src}manager_whatsapp.png') no-repeat left;
        border: 0px solid red;
        padding: 0 0 0 22px;
        margin: 0 0 16px 0
    }

}
